<div id="layout" layout="column">
  <div tp-include="layout/_views/header.tpl.html"></div>
  <div flex layout="row">
    <div tp-include="layout/_views/navigation.tpl.html"></div>
    <md-content md-scroll-y flex layout="column" id="inf-wrapper" >
      <tp:state-change-indicator show="main.routing.isStateChanging()"/>
      <div ng-if="!main.routing.isStateChanging()" id="content" flex="noshrink" layout="column" ui-view="content"></div>
      <!-- <div ng-if="showSubscribeNow" class="subscribe-now" ng-click="openCreditCard()">START TRIAL NOW!</div> -->
      <md-button id="intercom-widget" ng-if="!$mdMedia('xs') && showIntercom" class="md-fab intercom-messenger">
					<md-icon>chat</md-icon>
			</md-button>
      <!--<div tp-include="layout/_views/footer.tpl.html"></div>-->
    </md-content>
  </div>
</div>