<aside id="left-panel">

  <!-- User info -->
  <div data-login-info></div>
  <!-- end user info -->

  <nav id="navigation-links">
    <!-- NOTE: Notice the gaps after each icon usage <i></i>..
    Please note that these links work a bit different than
    traditional href="" links. See documentation for details.
    -->

    <ul data-smart-menu>
      <li data-ui-sref-active="active">
        <a data-ui-sref="home" data-ui-sref-opts="{reload: 'home', inherit: false}" title="Home">
          <i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Home</span>
        </a>
      </li>

      <li data-menu-collapse data-feature-flag data-feature-key="platform">
        <a href="#">
          <i class="fa fa-lg fa-fw fa-paint-brush"></i> <span class="menu-item-parent">Modeling</span>
        </a>
        <ul>
          <li data-ui-sref-active="active">
            <a data-ui-sref="platform-template-list" data-ui-sref-opts="{reload: 'platform-template-list', inherit: false}" title="Platform Templates">
              <i class="fa fa-lg fa-fw rxr-icon-platform-templates"></i> Platform Templates
            </a>
          </li>
          <li data-ui-sref-active="active">
            <a data-ui-sref="platform-blueprint-list" data-ui-sref-opts="{reload: 'platform-blueprint-list', inherit: false}" title="Platform Blueprints">
              <i class="fa fa-lg fa-fw fa-codepen"></i> Platform Blueprints
            </a>
          </li>
          <li data-ui-sref-active="active">
            <a data-ui-sref="platform-model-list" data-ui-sref-opts="{reload: 'platform-model-list', inherit: false}" title="Platform Models">
              <i class="fa fa-lg fa-fw fa-cube"></i> Platform Models
            </a>
          </li>
        </ul>
      </li>

      <li data-menu-collapse data-feature-flag data-feature-key="platform.instance">
        <a href="#">
          <i class="fa fa-lg fa-fw fa-plug"></i> <span class="menu-item-parent">Provisioning</span>
        </a>
        <ul>
          <li data-ui-sref-active="active">
            <a data-ui-sref="platform-instance-list" data-ui-sref-opts="{reload: 'platform-instance-list', inherit: false}" title="Platform Instances">
              <i class="fa fa-lg fa-fw rxr-icon-platform-instance"></i> Platform Instances
            </a>
          </li>
        </ul>
      </li>

      <li data-menu-collapse data-feature-flag data-feature-key="release_management">
        <a href="#">
          <i class="fa fa-lg fa-fw fa-rocket"></i> <span class="menu-item-parent">Release Management</span>
        </a>
        <ul data-feature-flag data-feature-key="release_management.application_blueprint">
          <li data-ui-sref-active="active" data-feature-flag data-feature-key="release_management.artifact">
            <a data-ui-sref="artifact-list-view" data-ui-sref-opts="{reload: 'artifact-list-view', inherit: false}" title="Artifacts">
              <i class="fa fa-lg fa-fw fa-suitcase"></i> Artifacts
            </a>
          </li>
          <li data-ui-sref-active="active" data-feature-flag data-feature-key="release_management.application_blueprint">
            <a data-ui-sref="application-blueprint-list-view" data-ui-sref-opts="{reload: 'application-blueprint-list-view', inherit: false}" title="Application Blueprints">
              <i class="fa fa-lg fa-fw fa-medkit"></i> Application Blueprints
            </a>
          </li>
        </ul>
      </li>

      <li data-menu-collapse data-feature-flag data-feature-key="administration">
        <a href="#">
          <i class="fa fa-lg fa-fw fa-gear"></i> <span class="menu-item-parent">Infrastructure</span>
        </a>
        <ul>
          <li data-ui-sref-active="active">
            <a  data-ui-sref="environment-types" data-ui-sref-opts="{reload: 'environment-types', inherit: false}" title="Environment Types">
              <i class="fa fa-lg fa-fw fa-tag"></i> Environment Types
            </a>
          </li>
          <li data-ui-sref-active="active">
            <a  data-ui-sref="compute-definition-list" data-ui-sref-opts="{reload: 'compute-definition-list', inherit: false}" title="Compute Logical Definitions">
              <i class="fa fa-lg fa-fw fa-laptop"></i> Compute Definitions
            </a>
          </li>
          <li data-ui-sref-active="active">
            <a  data-ui-sref="infrastructure-providers" data-ui-sref-opts="{reload: 'infrastructure-providers', inherit: false}" title="Infrastructure Providers">
              <i class="fa fa-lg fa-fw fa-cloud"></i> Infrastructure Providers
            </a>
          </li>
          <li data-ui-sref-active="active" data-feature-flag data-feature-key="release_management.cd_profile">
            <a data-ui-sref="erd-list" data-ui-sref-opts="{reload: 'erd-list', inherit: false}" title="Continuous Delivery Profiles">
              <i class="fa fa-lg fa-fw fa-file-text-o"></i> Continuous Delivery Profiles
            </a>
          </li>
          <li data-ui-sref-active="active" data-feature-flag data-feature-key="administration.tag_management">
            <a data-ui-sref="tag-definition-list-view" data-ui-sref-opts="{reload: 'tag-definition-list-view', inherit: false}" title="Tag Definitions">
              <i class="fa fa-lg fa-fw fa-tags"></i> Tag Definitions
            </a>
          </li>
        </ul>
      </li>

        <li data-menu-collapse data-feature-flag data-feature-key="user_management" data-ng-show="mainController.isSuperAdmin || mainController.isWorkspaceAdmin">
            <a href="#">
                <i class="fa fa-lg fa-fw fa-group"></i> <span class="menu-item-parent">Administration</span>
            </a>
            <ul>
                <li data-ui-sref-active="active" data-feature-key="user_management.users"  data-ng-show="mainController.isSuperAdmin">
                    <a  data-ui-sref="user-list-view" data-ui-sref-opts="{reload: 'user-list-view', inherit: false}" title="Users">
                        <i class="fa fa-lg fa-fw fa-user"></i> Users
                    </a>
                </li>
                <li data-ui-sref-active="active" data-feature-key="user_management.roles"  data-ng-show="mainController.isSuperAdmin">
                    <a  data-ui-sref="role-list-view" data-ui-sref-opts="{reload: 'role-list-view', inherit: false}" title="Roles">
                        <i class="fa fa-lg fa-fw fa-paw"></i> Roles
                    </a>
                </li>
                <li data-ui-sref-active="active" data-feature-key="user_management.workspaces" data-ng-show="mainController.isSuperAdmin || mainController.isWorkspaceAdmin">
                    <a  data-ui-sref="workspace-list-view" data-ui-sref-opts="{reload: 'workspace-list-view', inherit: false}" title="Workspaces">
                        <i class="fa fa-lg fa-fw fa-building"></i> Workspaces
                    </a>
                </li>
            </ul> 
        </li>

        <li data-ng-click="mainController.showProfilePage()" title="My Profile" data-feature-flag data-feature-key="my_profile">
          <a href="">
            <i class="fa fa-lg fa-fw fa-user"></i> <span class="menu-item-parent">My Profile</span>
          </a>
        </li>

        <li data-menu-collapse>
        <a href="#">
          <i class="fa fa-lg fa-fw fa-life-ring txt-color-blue"></i> <span class="menu-item-parent">Support</span>
        </a>
        <ul>
          <li data-ui-sref-active="active">
            <a title="User Guide" target="_new" ng-href="{{productMetadata.userGuide.baseURL || '/user-guide'}}">
              <i class="fa fa-lg fa-fw fa-book"></i> User Guide
            </a>
          </li>
          <li data-ui-sref-active="active">
            <a target="_new" href="http://support.rubiconred.com" title="Raise a Ticket">
              <i class="fa fa-lg fa-fw fa-ticket"></i> Raise a Ticket
            </a>
          </li>
          <li data-ui-sref-active="active">
            <a target="_new" href="http://support.rubiconred.com" title="Provide Feedback">
              <i class="fa fa-lg fa-fw fa-comments-o"></i> Provide Feedback
            </a>
          </li>
        </ul>
      </li>

    </ul>
  </nav>

  <span class="minifyme" data-action="minifyMenu" minify-menu>
    <i class="fa fa-arrow-circle-left hit"></i>
  </span>

</aside>