<md-sidenav layout="column" md-component-id="left" class="md-sidenav-left" md-is-locked-open="$mdMedia('gt-md')" role="navigation" md-whiteframe="6" md-colors="{background: 'primary-hue-3'}">
  <div ng-controller="NavigationController as navigation" class="tp-navigation">
    <md-list>
      <md-list-item layout-padding ng-repeat="item in navigation.menu" ng-class="{'active': item === navigation.activeItem}">
        <md-button layout="row" layout-align="start center" ng-click="navigation.navigate(item)">
          <div class="md-list-item-inner">
            <md-icon ng-if="item.icon">{{item.icon}}</md-icon>
            <md-icon ng-if="!item.icon">keyboard_arrow_right</md-icon>
            <span>{{item.label}}</span>
          </div>
        </md-button>
      </md-list-item>
    </md-list>
  </div>
</md-sidenav>