<md-sidenav layout="column" md-component-id="left" class="md-sidenav-left" md-is-locked-open="$mdMedia('gt-md')" role="navigation" md-whiteframe="6" md-colors="{background: 'primary-hue-3'}">
  <div ng-controller="NavigationController as navigation" class="tp-navigation">
    <md-list>
      <md-list-item ng-if="navigation.perspectiveMenu" class="menu-header">
        <md-button layout="row" layout-align="start center" ng-disabled="true" ng-if="navigation.perspectiveMenu.abstract">
          <div>
            <span class="md-subhead">{{navigation.perspectiveMenu.displayName}}</span>
          </div>
        </md-button>
        <md-button layout="row" layout-align="start center" ng-click="navigation.switchTipoPerspective(navigation.selectedPerspectiveItem)" ng-if="!navigation.perspectiveMenu.abstract">
          <div>
            <span class="md-subhead">
              <span ng-if="navigation.perspectiveMenu.singleton">{{navigation.perspectiveMenu.displayName}}</span>
              <span ng-if="!navigation.perspectiveMenu.singleton">{{navigation.selectedPerspectiveItem.label}}</span>
            </span>
          </div>
          <md-menu ng-if="navigation.perspectiveMenu.menuItems.length > 1">
            <md-button class="md-icon-button" ng-click="navigation.openPerspectiveMenu($mdOpenMenu, $event)">
              <md-icon md-menu-origin>compare_arrows</md-icon>
            </md-button>
            <md-menu-content width="4">
              <md-menu-item class="search" ng-if="navigation.perspectiveMenu.menuItems.length > 6">
                <md-input-container md-no-float>
                  <input ng-model="navigation.perspectiveMenu.searchText" type="search" placeholder="Search ...">
                </md-menu-item>
              </md-menu-item>
              <md-menu-item ng-repeat="tipo in navigation.perspectiveMenu.menuItems | filter: navigation.perspectiveMenu.searchText" ng-if="tipo !== navigation.selectedPerspectiveItem">
                <md-button ng-click="navigation.switchTipoPerspective(tipo)">{{tipo.label}}</md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </md-button>
      </md-list-item>
      <md-list-item layout-padding ng-repeat="item in navigation.menu" ng-class="{'active': item === navigation.activeItem}">
        <md-button layout="row" layout-align="start center" ng-click="navigation.navigate(item)">
          <div class="md-list-item-inner">
            <md-icon ng-if="item.icon">{{item.icon}}</md-icon>
            <md-icon ng-if="!item.icon">keyboard_arrow_right</md-icon>
            <span>{{item.label}}</span>
          </div>
        </md-button>
      </md-list-item>
    </md-list>
  </div>
</md-sidenav>