#macro(calculateAllowedValues $values)
	#set ($allowed_values = "['" )
	#foreach($i in $values)
		#if( $foreach.hasNext )
			#set ($allowed_values = "$allowed_values$i','" )
		#else
			#set ($allowed_values = "$allowed_values$i']" )
		#end
	#end
#end
#macro(setlookupcontext $lookup_context)
	#if($lookup_context.label_field)
		#set($field_label_field = "'$lookup_context.label_field.field_name'")
	#else
		#set($field_label_field = "'$lookup_context.key_field.field_name'")
	#end
	#if($lookup_context.underscore_ui.isArray)
		#set($isArray = $lookup_context.underscore_ui.isArray)
	#else
		#set($isArray = false)
	#end
	#if($lookup_context.popup_select)
		#set($isPopup = $lookup_context.popup_select)
	#else
		#set($isPopup = false)
	#end
#end
#macro( fieldcontainer $field $field_description $mandatory $decoded)
	#if(!$field.underscore_ui.isArray && !$field.underscore_ui.isTipoRelationship)
		#if( $field.field_type == "date_time")
			<md-datepicker ng-model="tipoRootController.tipo.$field.fq_field_name" md-placeholder="$!field_description" name="${field.display_name}_${field.field_type}" ng-required="$mandatory" ng-init="tipoRootController.tipo.$field.fq_field_name = tipoRootController.Date(tipoRootController.tipo.$field.fq_field_name)">
			 </md-datepicker>
		#elseif($field.field_type == "password")
			<input type="$field_type" ng-model="tipoRootController.tipo.$field.fq_field_name" aria-label="$field.display_name" placeholder="$!field_description" name="${field.display_name}_${field.field_type}" ng-required="$mandatory" >
		#elseif($field.field_type == "longstring")
			<textarea type="$field_type" ng-model="tipoRootController.tipo.$field.fq_field_name" rows="2" md-select-on-focus aria-label="$field.display_name" placeholder="$!field_description" name="${field.display_name}_${field.field_type}" ng-required="$mandatory" />
		#elseif($field.field_type == "richstring")
			<text-angular ng-model="tipoRootController.tipo.$field.fq_field_name" style="z-index:1" name="${field.display_name}_${field.field_type}" data-ng-required="$mandatory"></text-angular>
		#elseif($field.field_type == "htmlLink")
			<input ng-model="tipoRootController.tipo.$field.fq_field_name" aria-label="$field.display_name" placeholder="$!field_description" name="${field.display_name}_${field.field_type}" ng-required="$mandatory">
		#elseif($field.field_type == "divider")
			<span class="header">
	          <div layout="row" layout-align="end center">
	            <h3 flex>
	              <a class="plain" md-colors="{color: 'primary-700'}">
	                $field.display_name
	              </a>
	            </h3>
	          </div>
	          <md-divider></md-divider>
	        </span>
	    #elseif($field.field_type == "s3explorer")
	    	<tp:s3-explorer name="${field.display_name}_${field.field_type}" ng-required="$mandatory"/>
		#elseif($field.field_type == "file")
			<tp:file field="tipoRootController.tipoDefinition" fieldpath="'$field.fq_field_name'" mode="edit"/>
		#elseif($field.field_type == "colour")
			<tp:colour-palette name="${field.display_name}_${field.field_type}" mode="edit" ng-model="tipoRootController.tipo.$field.fq_field_name" ng-required="$mandatory" />
		#elseif($field.field_type == "boolean")
			<div class="tp-switch" >
		        <md-switch class="md-primary" ng-model="tipoRootController.tipo.$field.fq_field_name" aria-label="$display_name">
		          <span>{{ tipoRootController.tipo.$field.fq_field_name && 'Yes' || 'No' }}</span>
		        </md-switch>
		    </div>
		#elseif($field.allowed_values)
			#calculateAllowedValues($field.allowed_values)
			<tp:simple-dropdown isarray="false" fieldvalue="tipoRootController.tipo.$field.fq_field_name" required="$mandatory" allowedvalues="$allowed_values" allowcreate="$field.allow_create" placeholder="$!field_description" name="${field.display_name}_${field.field_type}" />
		#else
		<input ng-model="tipoRootController.tipo.$field.fq_field_name" aria-label="$field.display_name" placeholder="$!field_description" name="${field.display_name}_${field.field_type}" ng-required="$mandatory" ng-pattern="$!decoded">
		#end
	#elseif($field.underscore_ui.isArray && !$field.underscore_ui.isTipoRelationship)
		#if($field.field_type == "file")
			<span>
          		<tp:file field="tipoRootController.tipoDefinition" fieldpath="'$field.fq_field_name'" mode="edit"/>
        	</span>
        #else
        	#if(!$field.allowed_values)
        		<md-chips ng-model="tipoRootController.tipo.$field.fq_field_name" md-transform-chip="wrapSimpleValue($chip)" class="tp-chips" placeholder="$!field_description" name="${field.display_name}_${field.field_type}" ng-required="$mandatory">
		          <md-chip-template>
		            <span>{{$chip}}</span>
		          </md-chip-template>
		        </md-chips>
		    #else
		    	#calculateAllowedValues($field.allowed_values)
		    	<span>
		    		<tp:simple-dropdown isarray="true" fieldvalue="tipoRootController.tipo.$field.fq_field_name" required="$mandatory" allowedvalues="$allowed_values" allowcreate="$!field.allow_create" placeholder="$!field_description" name="${field.display_name}_${field.field_type}" />
		    	</span>
        	#end
        #end
    #else
    	#setlookupcontext($field)
    	<tp:lookup field="{key: tipoRootController.tipo.$field.fq_field_name, fieldlabel: tipoRootController.tipo.${field.fq_field_name}_refs}" fieldvalue="tipoRootController.tipo.$field.fq_field_name" fieldlabel= "tipoRootController.tipo.${field.fq_field_name}_refs" basefilter="'$!field.relationship_filter'" realtedtipo="'$!field.underscore_ui.relatedTipo'" isarray="$!field.underscore_ui.isArray" ispopup="$!field.popup_select" required="$!mandatory" labelfield="$!field_label_field" allowcreate="$!field.allow_create" selectfield="$!field.select_field" root="tipoRootController.tipo" ng-init="tipoRootController.tipo.$field.fq_field_name = tipoRootController.tipo.$field.fq_field_name || '';tipoRootController.tipo.${field.fq_field_name}_refs = tipoRootController.tipo.${field.fq_field_name}_refs || '' ">
	#end
#end
#macro( fieldviewcontainer $field $field_description $mandatory $decoded)
	#if(!$field.underscore_ui.isArray && !$field.underscore_ui.isTipoRelationship)
		#if( $field.field_type == "date_time")
			<span>{{tipoRootController.tipo.$field.fq_field_name | date:'MM/dd/yyyy'}}</span>
		#elseif($field.field_type == "password")
			*******
		#elseif($field.field_type == "longstring")
			<span class="preformatted-text">{{tipoRootController.tipo.$field.fq_field_name}}</span>
		#elseif($field.field_type == "richstring")
			<span><div ng-bind-html="trustHtml(tipoRootController.tipo.$field.fq_field_name)" class="richstring"></div></span>
		#elseif($field.field_type == "htmlLink")
			<a ng-href="{{tipoRootController.tipo.$field.fq_field_name}}" target="_blank">{{tipoRootController.tipo.$field.fq_field_name}}</a>
		#elseif($field.field_type == "divider")
			<span class="header">
	          <div layout="row" layout-align="end center">
	            <h3 flex>
	              <a class="plain" md-colors="{color: 'primary-700'}">
	                $field.display_name
	              </a>
	            </h3>
	          </div>
	          <md-divider></md-divider>
	        </span>
	    #elseif($field.field_type == "s3explorer")
	    	<tp:s3-explorer name="${field.display_name}_${field.field_type}" ng-required="$mandatory"/>
		#elseif($field.field_type == "file")
			<tp:file field="tipoRootController.tipoDefinition" fieldpath="'$field.fq_field_name'"/>
		#elseif($field.field_type == "colour")
			<tp:colour-palette name="${field.display_name}_${field.field_type}"  ng-model="tipoRootController.tipo.$field.fq_field_name" />
		#else
		{{tipoRootController.tipo.$field.fq_field_name}}
		#end
	#elseif(!$field.underscore_ui.isArray && $field.underscore_ui.isTipoRelationship)
		<a class="explicit" ui-sref="tipoView({tipo_name: $field.underscore_ui.relatedTipo, tipo_id: tipoRootController.tipo.$field.fq_field_name})" ui-sref-opts="{reload: 'tipoView'}">
		#set ( $fieldLabel = "tipoRootController.tipo.${field.fq_field_name}_refs['ref' + tipoRootController.tipo.$field.fq_field_name]")
		{{$fieldLabel || tipoRootController.tipo.$field.fq_field_name}}</a>
    #elseif($field.underscore_ui.isArray && !$field.underscore_ui.isTipoRelationship)
    	#if($field.field_type == "file")
			<span>
          		<tp:file field="tipoRootController.tipoDefinition" fieldpath="'$field.fq_field_name'" mode="edit" />
        	</span>
        #else
        	<md-chips ng-model="tipoRootController.tipo.$field.fq_field_name" readonly="'true'" class="tp-chips readonly">
	          <md-chip-template>
	            <span>{{$chip.label}}</span>
	          </md-chip-template>
	        </md-chips>
        #end
    #elseif($field.underscore_ui.isArray && $field.underscore_ui.isTipoRelationship)
    	<span>
	      <div class="multiple-list">
	      #set($fieldLabel = "tipoRootController.tipo.${field.fq_field_name}_refs['ref' + value]")
	        <div ng-repeat="value in tipoRootController.tipo.$field.fq_field_name">
	          <a class="explicit" ui-sref="tipoView({tipo_name: $field.underscore_ui.relatedTipo, tipo_id: value})" ui-sref-opts="{reload: 'tipoView'}">{{$fieldLabel || value}}</a>
	        </div>
	      </div>
	    </span>
	  </span>
	#end
#end

