<div layout-padding ng-controller="ChangePasswordController as controller">
  <md-content layout-padding layout="column" layout-align="center stretch">
    <div class="md-subhead">Update your password</div>
    <md-input-container class="md-icon-float md-block">
      <label>Old Password</label>
      <md-icon>lock_open</md-icon>
      <input ng-model="controller.data.oldPassword" type="password" required>
    </md-input-container>
    <md-input-container class="md-icon-float md-block">
      <label>New Password</label>
      <md-icon>lock_open</md-icon>
      <input ng-model="controller.data.newPassword" type="password" required>
    </md-input-container>
  </md-content>
</div>
