<div ng-controller="TipoS3Browser as controller">
	<div layout="row" class="tp-list">
		<div ng-repeat="folder in controller.folder_path" style="color:#00A6B4;font-size:20px">
			<a href="" ng-click="controller.goto(folder,$index)">{{folder}}</a><span style="margin: 0 3px;">></span>
		</div>
	</div>
	<div>
	<div  show-gt-md show-md show-sm show-xs>			
		<div class="tp-list">
	  		<md-virtual-repeat-container id="vertical-container" md-top-index="tipoRootController.topIndex" class="fluid-row-container" update-size>
			    <div layout="row" tp:perm ng-click="!tipo.disableclick && tipoRootController.toDetail(tipo.tipo_id,tipoRootController.tipos,tipo)" md-virtual-repeat="tipo in tipoRootController.infiniteItems " md-on-demand class="fluid-row" md-whiteframe="2">
				    <div class="pointer" ng-if="tipoRootController.singleedit || tipoRootController.bulkedit || tipoRootController.bulkupdate" ng-click="!tipo.disableclick  && tipoRootController.selectTipo(tipo,$event,tipoRootController.tipos)">
				      	<md-checkbox ng-checked="tipo.selected" id="listcheckbox"></md-checkbox>
				    </div>
				    <div flex layout="row" layout-padding layout-wrap layout-align="start start" class="data pointer layout-row" ng-class="{'selected': tipo.selected}" ng-click="!tipo.disableclick && tipoRootController.selectTipo(tipo,$event,tipoRootController.tipos)">
				 
				        
				    </div>
				   
				      
				    <div flex="none" layout="column" layout-align="center center" class="actions bg" ng-if="!tipoRootController.popup">
				        <md-button ng-if="!tipo.disableclick" ng-click="tipoRootController.toDetail(tipo.tipo_id,tipoRootController.tipos,tipo)" aria-label="View details" class="md-icon-button">
				          <md-tooltip md-direction="left">Details</md-tooltip>
				          <md-icon>fullscreen</md-icon>
				        </md-button>
				        <md-button ng-click="tipoRootController.clone(tipo,$index);$event.stopPropagation();"  aria-label="Copy" class="md-icon-button">
				          <md-tooltip md-direction="left">Copy</md-tooltip>
				          <md-icon>content_copy</md-icon>
				        </md-button>
				        <md-button ng-click="tipoRootController.delete(tipo,$index);$event.stopPropagation();"  ng-if="!(tipoRootController.bulkupdate && tipo.tipo_id) " aria-label="Copy" class="md-icon-button">
				          <md-tooltip md-direction="left">Delete</md-tooltip>
				          <md-icon>delete</md-icon>
				        </md-button>
				    </div>

			      
	   			 </div>


	  		</md-virtual-repeat-container>


	 	</div>
	</div>
	<div ng-hide="!tipoRootController.loading">
	<img class="tp-list" ng-src="_assets/images/default.gif" style="width: 50px;height: 50px;">
	</div>

	</div>
	<div>
		<md-chips ng-model="selectedTipos" md-on-remove="controller.removeTipo($chip)">
	      <md-chip-template>
	        <span>{{$chip[label_field] || $chip[key_field] || $chip['tipo_id'] || $chip['label'] || $chip['key']}}</span>
	      </md-chip-template>
	    </md-chips>
	</div>
</div>
	
