<div flex layout="column" ng-cloak>
  <!-- <md-button md-theme="reverse" class="md-fab md-primary main" aria-label="Create new" ng-click="tipoRootController.createNew()">
    <md-tooltip md-direction="left">Create new</md-tooltip>
    <md-icon>create</md-icon>
  </md-button> -->
  <div ng-if="!tipoRootController.hasTipos" flex layout="row" layout-align="center center">
    <tp-no-content message="No records found" />
  </div>
  <ng-include src="tipoRootController.tipoDefinition._ui.listTemplateUrl" ng-if="tipoRootController.hasTipos" />
</div>