<div layout="row" layout-align="space-between center" layout-align-xs="space-between start">
  <div>
    <tp:filters definition="tipoRootController.tipoDefinition" filterslist="tipoRootController.tipoFilters" ng-if="tipoRootController.hasTipos || tipoRootController.tipoFilters.currentExpression"/>
  </div>
  <div layout="row">
    <md-button class="md-primary md-fab md-mini" ng-click="tipoRootController.showsearch = !tipoRootController.showsearch">
      <md-icon>search</md-icon>
      <md-tooltip md-direction="top">Search</md-tooltip>
    </md-button>
  	<md-button class="md-primary md-fab md-mini" ng-click="tipoRootController.refresh()">
	    <md-icon>autorenew</md-icon>
	    <md-tooltip md-direction="top">Refresh</md-tooltip>
  	</md-button>
    <tp:actions mode="list" restricted-actions="tipoRootController.restricted_actions" definition="tipoRootController.tipoDefinition" tipos="tipoRootController.tipos" bulkedit="tipoRootController.bulkedit"/>
  </div>
</div>