<div flex layout="column">
  <md-subheader class="md-primary" hide-xs>
    <ng-include src="'framework/_views/tipo-list-action-bar.tpl.html'" />
  </md-subheader>
  <ng-include src="'framework/_views/tipo-list-action-bar.tpl.html'" hide-gt-xs />
  <md-button tp:perm md-theme="reverse" class="md-fab md-primary main" aria-label="Create new"  ng-if="!tipoRootController.disablecreate && !tipoRootController.tipoDefinition._ui.isSingleton" ng-click="tipoRootController.createNew()">
    <md-tooltip md-direction="left">Create new</md-tooltip>
    <md-icon>add</md-icon>
  </md-button>
  <!-- <div layout-padding>
    <tp:filters definition="tipoRootController.tipoDefinition" filterslist="tipoRootController.tipoFilters" ng-if="tipoRootController.hasTipos || tipoRootController.tipoFilters.currentExpression"/>
  </div> -->
  <div ng-if="!tipoRootController.hasTipos" flex layout="row" layout-align="center center">
    <tp-no-content message="No records found" />
  </div>
  <div ng-if="tipoRootController.hasTipos" layout="column">
    <md-input-container flex class="tp-list" ng-if="tipoRootController.showsearch">
      <label>&nbsp;</label>
      <input ng-model="tipoRootController.searchText" class="searchbar" placeholder="enter search" ng-keyup="$event.keyCode == 13 ? tipoRootController.search() : null">
    </md-input-container>
    <ng-include src="tipoRootController.tipoDefinition._ui.listTemplateUrl" ng-if="tipoRootController.hasTipos" tp-include-replace>
  </div>
  <div ng-hide="!tipoRootController.loading">
    <img class="tp-list" ng-src="_assets/images/default.gif" style="width: 50px;height: 50px;">
  </div>
</div>