<div flex layout="column">
  <md-subheader class="md-primary" hide-xs>
    <ng-include src="'framework/_views/tipo-list-action-bar.tpl.html'" />
  </md-subheader>
  <ng-include src="'framework/_views/tipo-list-action-bar.tpl.html'" hide-gt-xs />
  <md-button md-theme="reverse" class="md-fab md-primary main" aria-label="Create new"  ng-if="!disablecreate && !tipoRootController.tipoDefinition._ui.isSingleton" ng-click="tipoRootController.createNew()">
    <md-tooltip md-direction="left">Create new</md-tooltip>
    <md-icon>add</md-icon>
  </md-button>
  <!-- <div layout-padding>
    <tp:filters definition="tipoRootController.tipoDefinition" filterslist="tipoRootController.tipoFilters" ng-if="tipoRootController.hasTipos || tipoRootController.tipoFilters.currentExpression"/>
  </div> -->
  <div ng-if="!tipoRootController.hasTipos" flex layout="row" layout-align="center center">
    <tp-no-content message="No records found" />
  </div>
  <div ng-if="tipoRootController.hasTipos">
    <ng-include src="tipoRootController.tipoDefinition._ui.listTemplateUrl" ng-if="tipoRootController.hasTipos" tp-include-replace/>
  </div>
</div>