<div id="layout" layout="column" layout-align="start center" layout-align-xs="start center" style="background-image: url('_assets/images/login_bg.png');background-position: bottom;background-size: contain;background-repeat: no-repeat;" ng-init="controller.stateChange()">
    <ng-include src="controller.header_template" tp-include-replace/>
    <div flex="10"></div>
    <div id="login-container" layout="column" layout-align="center stretch">
        <div md-whiteframe="2" style="background: #fbfbfb;">
            <div layout="row" layout-padding layout-align="center center" flex="none">
                <span class="md-title">New Password Required</span>
            </div>
            <div>
                <form name="resetPasswordForm" data-ng-submit="controller.completePasswordChallenge()">
                    <md-content layout-padding layout="column" layout-align="center stretch">
                        <div class="md-subhead text-center"></div>
                        <label class="loginlabel">New Password</label>
                        <md-input-container class="md-icon-float md-block">
                            <md-icon>lock_open</md-icon>
                            <input ng-model="controller.user.newPassword" type="password" required>
                        </md-input-container>
                        <div class="error" ng-show="controller.lastError"><i class="fa fa-exclamation-circle fa-fw"></i> {{controller.lastError}}</div>
                        <md-button type="submit" md-theme="reverse" class="md-raised md-primary" ng-if="!controller.inProgress">Change password</md-button>
                        <md-button disabled md-theme="reverse" class="md-raised md-primary" ng-show="controller.inProgress">
                            <i class="fa fa-refresh fa-spin fa-fw"></i> Processing...
                        </md-button>
                    </md-content>
                </form>
            </div>
        </div>
    </div>
</div>