<div id="layout" layout="column" layout-align="start center" layout-align-xs="start center" style="background-image: url('_assets/images/login_bg.png');background-position: bottom;background-size: contain;background-repeat: no-repeat;">
    <ng-include src="controller.header_template" tp-include-replace/>
    <div flex="10"></div>
    <div id="login-container" layout="column" layout-align="center stretch">
        <div md-whiteframe="2" style="background: #fbfbfb;margin-bottom:20px;margin-top:200px">
            <div layout="row" layout-padding layout-align="center center" flex="none">
                <span class="md-title">Create Account</span>
            </div>
            <div>
                <form name="registrationForm" data-ng-submit="controller.signUp()">
                    <md-content layout-padding layout="column" layout-align="center stretch">
                        <div class="md-subhead text-center"></div>
                        <label class="loginlabel">Name</label>
                        <md-input-container class="md-icon-float md-block">
                            <md-icon>person</md-icon>
                            <input ng-model="controller.user.first_name" name="first_name" type="text" required>
                            <div ng-messages="registrationForm.first_name.$error" ng-show="registrationForm.first_name.$dirty">
                                <div ng-message="required">This is required!</div>
                            </div>
                        </md-input-container>
                        <label class="loginlabel">Email</label>
                        <md-input-container class="md-icon-float md-block">
                            <md-icon>email</md-icon>
                            <input ng-model="controller.user.email" name="email" ng-pattern="/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/" ng-model-options="{ updateOn: 'blur'}" type="email" required>
                            <div ng-messages="registrationForm.email.$error" ng-show="registrationForm.email.$dirty">
                                <div ng-message="required">This is required!</div>
                                <div ng-message="pattern">Not a valid email</div>
                            </div>
                        </md-input-container>
                        <label class="loginlabel">Phone Number</label>
                        <md-input-container class="md-icon-float md-block">
                            <md-icon>contact_phone</md-icon>
                            <tp:text-mask style="margin-left: 25px;" isdisable="false" name="phone_number" is-required="true" text-pattern="'### ### ####'" field-type="'integer'" field-value="controller.user.phone_number"  field-label="'Phone Number'" force-validation="true" pattern-validation="true" placeholder-char="' '"  />
                            <div style="margin-left: 25px;" ng-messages="registrationForm.phone_number.$error" ng-show="registrationForm.phone_number.$dirty">
                                <div ng-message="required">This is required!</div>
                                <div ng-message="pattern">Must be a valid 10 digit phone number</div>
                            </div>
                        </md-input-container>
                        <label class="loginlabel">Password</label>
                        <md-input-container class="md-icon-float md-block">
                            <md-icon>lock_open</md-icon>
                            <input ng-model="controller.user.password" name="password" type="password" required>
                            <div ng-messages="registrationForm.password.$error" ng-show="registrationForm.password.$dirty">
                                <div ng-message="required">This is required!</div>
                            </div>
                        </md-input-container>
                        <label class="loginlabel" ng-show="controller.captureAccountNameDuringSignup">Company Name</label>
                        <md-input-container class="md-icon-float md-block" ng-show="controller.captureAccountNameDuringSignup">
                            <md-icon>nature_people</md-icon>
                            <input ng-model="controller.user.companyName" type="text" ng-change="controller.user.accountName = _.toLower(_.camelCase(controller.user.companyName))" name="company" ng-required="controller.captureAccountNameDuringSignup">
                            <div ng-messages="registrationForm.company.$error" ng-show="registrationForm.company.$dirty">
                                <div ng-message="required">This is required!</div>
                            </div>
                        </md-input-container>
                        <label class="loginlabel" ng-show="controller.captureAccountNameDuringSignup">Account</label>
                        <md-input-container class="md-icon-float md-block" ng-show="controller.captureAccountNameDuringSignup">
                            <md-icon>account_circle</md-icon>
                            <input ng-model="controller.user.accountName" ng-disabled="true" type="text" ng-required="controller.captureAccountNameDuringSignup">
                        </md-input-container>
                        <div class="recaptcha" vc-recaptcha ng-model="controller.user.recaptcha" key="'6Ldaig8UAAAAABblj3oOjSlTco3HTUhArcn_nJAG'" layout="row" layout-align="center center"></div>
                        <div class="error with-margin" ng-show="controller.lastError"><i class="fa fa-exclamation-circle fa-fw"></i> {{controller.lastError}}</div>
                        <md-button type="submit" md-theme="reverse" class="md-raised md-primary" ng-if="!controller.inProgress">Create my Account</md-button>
                        <md-button disabled md-theme="reverse" class="md-raised md-primary" ng-show="controller.inProgress">
                            <i class="fa fa-refresh fa-spin fa-fw"></i> Processing...
                        </md-button>
                    </md-content>
                </form>
            </div>
        </div>
        <div layout="column" layout-align="center stretch" layout-padding ng-if="!controller.inProgress">
            <md-button md-whiteframe="24" type="button" class="md-raised md-primary" ng-click="controller.toLogin()">Sign In</md-button>
        </div>
    </div>
</div>