<div id="layout" layout="column" layout-align="start center" layout-align-xs="start center" ng-init="controller.stateChange()">
    <ng-include src="controller.header_template" tp-include-replace/>
    <div flex="10"></div>
    <div id="login-container" layout="column" layout-align="center stretch">
        <div md-whiteframe="2" style="background: #fbfbfb;margin-bottom:20px;margin-top:200px">
            <div layout="row" layout-padding layout-align="center center" flex="none">
                <span class="md-title">Create Account</span>
            </div>
            <div>
                <form name="registrationForm" data-ng-submit="controller.signUp()">
                    <md-content layout-padding layout="column" layout-align="center stretch">
                        <div class="md-subhead text-center"></div>
                        <label class="loginlabel">Name</label>
                        <md-input-container class="md-icon-float md-block">
                            <md-icon>person</md-icon>
                            <input ng-model="controller.user.full_name" name="full_name" type="text" required>
                            <div ng-messages="registrationForm.full_name.$error">
                                <div ng-message="required">This is required!</div>
                            </div>
                        </md-input-container>
                        <label class="loginlabel">Email</label>
                        <md-input-container class="md-icon-float md-block">
                            <md-icon>email</md-icon>
                            <input ng-model="controller.user.email" name="email" autocomplete="username" ng-pattern="/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/" ng-model-options="{ updateOn: 'blur'}" type="email" required>
                            <div ng-messages="registrationForm.email.$error">
                                <div ng-message="required">This is required!</div>
                                <div ng-message="pattern">Not a valid email</div>
                            </div>
                        </md-input-container>
                        <label class="loginlabel">Phone Number {{controller.user.country_code}}</label>
                        <div layout="row" class="form-group">
                            <!-- <md-input-container flex="30" class="md-icon-float md-block">
                                <md-icon>contact_phone</md-icon>
                                <md-select name="country_code" ng-model="controller.user.country_code" required md-no-asterisk="true" md-on-open="open='true'" md-on-close="open='false'">
                                    <md-option ng-repeat="country in controller.country_code" ng-value="country.callingCode" value="country.callingCode">
                                        <span ng-show="open==='true'">{{country.name}}</span>
                                        <span ng-show="open==='false'">{{country.callingCode}}</span>
                                    </md-option>
                                </md-select>
                                <div class="errors" ng-messages="registrationForm.country_code.$error">
                                        <div ng-message="required">This is required!</div>
                                    </div>
                            </md-input-container> -->
                            <!-- <md-input-container flex="70" class="md-icon-float md-block">
                                <tp:text-mask isdisable="false" name="phone_number" is-required="true" text-pattern="'### ### ####'" field-type="'integer'" field-value="controller.user.phone_number"  field-label="'Phone Number'" force-validation="false" pattern-validation="false" placeholder-char="''"  />
                                <div ng-messages="registrationForm.phone_number.$error">
                                    <div ng-message="required">This is required!</div>
                                </div>
                            </md-input-container> -->
                            <md-input-container class="md-icon-float md-block">
                                <md-icon>contact_phone</md-icon>
                                <input type="text" ng-model="controller.user.phone_number" tp:intl-tel-input id="phone_number" name="phone_number" class="form-control" required>
                                <div ng-messages="registrationForm.phone_number.$error">
                                    <div ng-message="required">This is required!</div>
                                    <div ng-show="registrationForm.phone_number.$invalid && registrationForm.phone_number.$touched">Invalid :(</div>
                                </div>
                                <!-- <div ></div> -->
                            </md-input-container>
                        </div>
                        <label class="loginlabel">Password</label>
                        <md-input-container class="md-icon-float md-block">
                            <md-icon>lock_open</md-icon>
                            <input ng-model="controller.user.password" name="password" type="password" required>
                            <div ng-messages="registrationForm.password.$error">
                                <div ng-message="required">This is required!</div>
                            </div>
                        </md-input-container>
                        <label class="loginlabel" ng-show="controller.captureAccountNameDuringSignup">Company Name</label>
                        <md-input-container class="md-icon-float md-block" ng-show="controller.captureAccountNameDuringSignup">
                            <md-icon>nature_people</md-icon>
                            <input ng-model="controller.user.companyName" type="text" ng-change="controller.user.accountName = _.toLower(_.camelCase(controller.user.companyName))" name="company" ng-required="controller.captureAccountNameDuringSignup">
                            <div ng-messages="registrationForm.company.$error">
                                <div ng-message="required">This is required!</div>
                            </div>
                        </md-input-container>
                        <label class="loginlabel" ng-show="controller.captureAccountNameDuringSignup">Account</label>
                        <md-input-container class="md-icon-float md-block" ng-show="controller.captureAccountNameDuringSignup">
                            <md-icon>account_circle</md-icon>
                            <input ng-model="controller.user.accountName" ng-disabled="true" type="text" ng-required="controller.captureAccountNameDuringSignup">
                        </md-input-container>
                        <div class="recaptcha" vc-recaptcha ng-model="controller.user.recaptcha" key="'6Ldaig8UAAAAABblj3oOjSlTco3HTUhArcn_nJAG'" on-expire="controller.recaptchaExpiration()" layout="row" layout-align="center center"></div>
                        <div class="error with-margin" ng-show="controller.lastError"><i class="fa fa-exclamation-circle fa-fw"></i> {{controller.lastError}}</div>
                        <div style="font-size: 14px;text-align: center;"><i style="vertical-align:middle;color:#169D58" class="material-icons">check</i> By registering you agree to our <a href="https://tipotapp.com/terms-conditions-english.html" target="_blank">terms and conditions</a> </div>
                        <md-button type="submit" md-theme="reverse" class="md-raised md-primary" ng-if="!controller.inProgress">Create my Account</md-button>
                        <md-button disabled md-theme="reverse" class="md-raised md-primary" ng-show="controller.inProgress">
                            <i class="fa fa-refresh fa-spin fa-fw"></i> Processing...
                        </md-button>
                    </md-content>
                </form>
            </div>
        </div>
        <div layout="column" layout-align="center stretch" layout-padding ng-if="!controller.inProgress">
            <md-button md-whiteframe="24" type="button" class="md-raised md-primary" ng-click="controller.toLogin()">Sign In</md-button>
        </div>
    </div>
</div>