<div class="bg-image" fxFill fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="1.5rem">
  <div>
    <tp-header></tp-header>
  </div>
  <div class="login-container text-center" fxLayout="column" fxLayoutAlign="center">
    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center" fxFlex="none">
        <span class="mat-title">{{context.title}}</span>
    </div>
    <div fxFlex="90%" fxFlex.sm="66%" fxFlex.md="50%" fxFlex.gt-md="33%" class="login-box">
    <mat-card>
      <form (ngSubmit)="verify(context.command)" [formGroup]="passwordResetForm" novalidate>
        <div fxLayout="column">
          <mat-form-field *ngIf="context.command === 'confirm_forgot_password'">
              <mat-icon matPrefix class="margin-right-10">lock_open</mat-icon>
              <input type="text" matInput formControlName="code" placeholder="Enter verification code" required />
              <mat-error *ngIf="passwordResetForm.controls['code'].valid || passwordResetForm.controls['code'].untouched">
                <span translate>This is required</span>
              </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-icon matPrefix class="margin-right-10">lock_open</mat-icon>
            <input [type]="context.type" matInput formControlName="text" [placeholder]="context.label" required />
            <mat-error *ngIf="passwordResetForm.controls['text'].valid || passwordResetForm.controls['text'].untouched">
              <span translate>This is required</span>
            </mat-error>
          </mat-form-field>
          <div class="login-error" [hidden]="!error" translate>
            <mat-icon>warning</mat-icon> <span>{{error}}</span>
          </div>
          <br />
          <button mat-raised-button color="accent" type="submit" [disabled]="passwordResetForm.invalid || isLoading">
            <tp-loader class="inline-loader" [isLoading]="isLoading" message="Processing"></tp-loader>
            <span translate *ngIf="!isLoading">{{context.buttonLabel}}</span>
          </button>
        </div>
      </form>
    </mat-card>
  </div>
  </div>
</div>