<div flex layout="column">
    <form ng-cloak novalidate name="tipoForm" ng-submit="tipoRootController.save(tipoForm,'create')">
        <div class="md-primary tp-page-heading" ng-hide="tipoRootController.hide_actions" md-whiteframe="1">
            <div layout="row" layout-xs="column" layout-sm="column" layout-align="start center" layout-align-sm="start start" layout-align-xs="start start">
                <div flex>
                    <div class="md-title subheading heading-standard" md-colors="{color: 'primary-800'}">
                        <span>{{tipoRootController.tipo_handle.menu_item.label}}</span></div>
                </div>
                <div>
                    <md-button class="md-primary md-fab md-mini" ng-click="tipoRootController.cancel()">
                        <md-icon>close</md-icon>
                        <md-tooltip md-direction="top">Cancel</md-tooltip>
                    </md-button>
                    <md-button md-theme="reverse" class="md-primary md-fab md-mini" type="submit">
                        <md-icon>done</md-icon>
                        <md-tooltip md-direction="top">Save</md-tooltip>
                    </md-button>
                </div>
            </div>
        </div>
        <md-card class="tp-detail page">
            <div class="p-8">
                <section class="fieldset no-header fluid-row-container">
                    <div class="data" layout-padding layout="row" layout-wrap layout-align="start start">
                        <dl class="edit" layout="column" layout-align="center stretch" style="margin-bottom: 10px;" flex="100" flex-gt-sm="100" flex-gt-md="100" style="">
                            <dt style="min-height: 16px;">
                                <span md-colors="{color: 'primary-500'}">
									App Name
				</span>
                                <span>*</span>
                            </dt>
                            <dd>
                                <div class="tp-field">
                                    <span>
                                    	<md-input-container>
				<input ng-model="tipoRootController.tipo.app_name" ng-disabled="false" aria-label="App Name" name="App Name_string" ng-required="true" ng-pattern="" class="noborder">
																		<div class="hint" >App Name</div>
														  	<div ng-messages="tipoForm['App Name_string'].$error">
				  					      <div ng-message="required" >This is required.</div>
				    				    				    				    				    					</div>
														</md-input-container>
			</span>
                                </div>
                            </dd>
                        </dl>
                        <dl class="edit" layout="column" layout-align="center stretch" style="margin-bottom: 10px;" flex="100" flex-gt-sm="100" flex-gt-md="100" style="">
                            <dt style="min-height: 16px;">
                                <span md-colors="{color: 'primary-500'}">
									Description
				</span>
                            </dt>
                            <dd>
                                <div class="tp-field">
                                    <span>
							<md-input-container md-no-float>											            							 													<textarea type="longstring" ng-disabled="false" ng-model="tipoRootController.tipo.app_description" rows="5" aria-label="Description" name="Description_longstring" class="noborder" />
														<div class="hint" >App description</div>
																			</md-input-container>
			</span>
                                </div>
                            </dd>
                        </dl>
                        <dl class="edit" layout="column" layout-align="center stretch" style="margin-bottom: 10px;" flex="100" flex-gt-sm="100" flex-gt-md="100" style="">
                            <dt style="min-height: 16px;">
                                <span md-colors="{color: 'primary-500'}">
									App Icon
				</span>
                            </dt>
                            <dd>
                                <div class="tp-field">
                                    <span>
							<md-input-container md-no-float>											            							 		    										    									    	    	<tp:lookup ng-model="tipoRootController.tipo.icon" read-only="false" fieldvalue="tipoRootController.tipo.icon" fieldlabel= "tipoRootController.tipo.icon_labels" basefilter="''" realtedtipo="'TipoIcon'" isarray="false" ispopup="true" istipomandatory="false" labelfield="'name_'" queryparams="''" allowcreate="true" selectkeyfield="''" selectlabelfield="''" fqfieldname="'icon'" fieldname="'icon'" root="tipoRootController.tipo" context="tipoRootController.tipo" ng-init="tipoRootController.tipo.icon = 'local_cafe';tipoRootController.tipo.icon_labels = 'local cafe' " class="noborder"  />
    													<div class="hint" >App description</div>
																			</md-input-container>
			</span>
                                </div>
                            </dd>
                        </dl>
                        <span ng-hide="true" ng-init="tipoRootController.tipo.app_version='1.0'"></span>
                    </div>
                </section>
            </div>
        </md-card>
    </form>
</div>