<!-- Container -->
<div layout="column" ng-controller="TipoSubscribtionController as controller" layout-padding>
	<div layout="row">
		<h3 md-colors="{color: 'primary-700'}" flex="" class="flex">
				Current Plan
 		</h3>
 		<!-- <div ng-if="controller.tipo.subscription_status && controller.tipo.subscription_status !== 'canceled'">
	        <tp:actions tipo-name="'TipoSubscriptions'"  tipo-actions="[{tipo_action: 'cancel_subscription',display_name: 'Cancel Subscription',enable_confirmation: true,confirmation_text: 'Are you sure you want to cancel? On resubscribtion your billing cycle will start.',highlight: true,bulk_select: $action.bulk_select,single_select: $action.single_select,icon: '',visibility_expression: '' , client_dependency:{tipo_name: ''}},]" tipos="tipoRootController.tipo" refresh="tipoRootController.refresh()"/>
	    </div> -->
	</div>
 	<md-divider></md-divider>
	<!--Plan Details -->
	<md-card layout-gt-sm="row" layout-sm="column" layout-xs="column" layout-align-gt-sm="center center" layout-padding>
		<div layout="row" layout-xs="column" layout-align-xs="start start" layout-align="space-around center" layout-padding flex="75" flex-xs="100" flex-sm="100">
			<div layout="column" layout-align="center center" flex="20" flex-xs="100">
				<div layout="row" layout-align="center center">
					<md-icon md-colors="{color: 'primary-700'}">bubble_chart</md-icon><span>Plan: </span>
					<md-chips>
							<md-chip>{{controller.tipo.plan}}</md-chip>
					</md-chips>
				</div>
				<div class="margin10">
						<span>Status: <b>{{controller.tipo.subscription_status | uppercase}}</b> </span>
				</div>	
			</div>
			<div flex="45" flex-xs="100">
				<md-content layout="column"  class="transparent">
	      			<md-list flex layout-xs="row" layout-wrap>
	      				<md-list-item flex ng-repeat="detail in controller.tipo.plan_items" class="height48">
	      				<!-- <md-list-item > -->
				          <md-icon class="marginright20" md-colors="{color: 'primary-700'}" flex="10">done</md-icon>
				          <div class="md-list-item-text" flex="90">
				            <!-- <h3> 1 App User</h3> -->
							<span ng-if="detail.item === 'Creator'" ng-bind-html="controller.getPlanDetails(detail)"></span>
							<span ng-if="detail.item === 'AppUser'"> {{detail.quantity}} Invited {{detail.item}}(s) </span>
				          </div>
				        </md-list-item>
				        <md-list-item flex class="height48">
				          <md-icon class="marginright20" md-colors="{color: 'primary-700'}" flex="10">done</md-icon>
				          <div class="md-list-item-text" flex="90" >
				            <!-- <span> Annual Billing</span> -->
				            <span> {{controller.tipo.billing_cycle ||  (controller.tipo.plan_interval + ' '+ controller.tipo.plan_period_)}} Billing</span>
				          </div>
				        </md-list-item>
				        <md-list-item flex class="height48" hide-gt-xs show-xs>
				          <md-icon class="marginright20" md-colors="{color: 'primary-700'}" flex="10">done</md-icon>
				          <div class="md-list-item-text" flex="90" >
				            <!-- <span> Annual Billing</span> -->
				            <b><span>Total Price: <span ng-if="controller.tipo.subscription_status === 'trial'">$0</span><span ng-if="controller.tipo.subscription_status !== 'trial'">${{controller.tipo.total_cost}}</span></span></b>
				          </div>
				        </md-list-item>
				        <md-list-item flex class="height48" hide-gt-xs show-xs>
				          <md-icon class="marginright20" md-colors="{color: 'primary-700'}" flex="10">done</md-icon>
				          <div class="md-list-item-text" flex="90" >
				            <!-- <span> Annual Billing</span> -->
				             <span>{{controller.tipo.active_until | date:'MM/dd/yyyy'}} Next Renewal</span>
				          </div>
				        </md-list-item>
	      			</md-list>
	      		</md-content>
	      	</div>
			<div layout="column" layout-padding class="leftdivider" flex="35" hide-xs>
				<div><md-icon md-colors="{color: 'primary-700'}" class="font20">assessment</md-icon><b><span class="font20">Total Price: <span ng-if="controller.tipo.subscription_status === 'trial'">$0</span><span ng-if="controller.tipo.subscription_status !== 'trial'">${{controller.tipo.total_cost}}</span></span></b></div>
				<!-- <span>$500</span> -->
				<div><md-icon md-colors="{color: 'primary-700'}" class="font20">date_range</md-icon><span>  Next Renewal {{controller.tipo.active_until | date:'MM/dd/yyyy'}} </span></div>
				<!-- <span>Next Renewal 2nd May 2018 </span> -->
			</div>
		</div>
		<div layout="column" layout-padding flex="25" class="leftdivider" flex-xs="100" flex-sm="100">
			<div><md-icon md-colors="{color: 'primary-700'}">credit_card</md-icon>
			<span>Credit Card Info</span></div>
			<!-- <span>************4242</span> -->
			<span ng-show="controller.tipo.credit_card">************{{controller.tipo.credit_card}}</span>
			<span ng-hide="controller.tipo.credit_card"> N/A </span>
			<md-button class="md-primary md-raised padding0" ng-click="controller.showCreditCard('updateCard')" >Update Card Details</md-button>
		</div>
	</md-card>
	<!--Plan Details -->
	<!-- Divider-->
	<h3 md-colors="{color: 'primary-700'}" flex="" class="flex">
	       Choose Different Plans
	</h3>
	<md-divider></md-divider>
	<!-- Divider-->
	<!--Choose Plans -->
	<div>
			<!-- Show Plans -->
				<div ng-init="controller.getPlans()" layout="row" layout-align="space-around stretch" layout-sm="column" layout-xs="column" ng-if="!controller.inProgress">
					<md-card ng-repeat="plan in controller.plans" flex layout="column" layout-align="space-between stretch">
						<form name="plandetails" layout="column" layout-align="start stretch" layout-padding >
							<div style="height:100px;margin: -8px;color: white" md-colors="{background: 'primary-500'}" class="text-center">
								<md-icon style="color: white;font-size: 30px;margin-top: 8px;">donut_large</md-icon>
								<div class="md-subhead text-center font20 margin10"><b>{{plan.tipo_id}}</b></div>
								<div class="md-subhead text-center font20 margin10"><b>{{controller.getPlanCost(plan)}}</b></div>
							</div>
							<div class="margin10">
								<div class="md-subhead" ng-repeat="sub_plan in plan.stripe_subscription_plans | orderBy: 'item_sort_number' " >
									<div layout="column" class="text-center margin10" layout-align="center center">
											<div ng-if="sub_plan.plane_name === 'Creator'" class="font20" md-colors="{color: 'accent-500'}"><b>{{sub_plan.discounted_quantity}}</b></div>
											<div ng-if="sub_plan.plane_name === 'AppUser'" class="font20" md-colors="{color: 'accent-500'}"><b>Unlimited</b></div>
											<div style="color:gray">Included {{sub_plan.plane_name}}(s)</div>	
									</div>	
								</div>
								<div layout="column" class="text-center margin10" layout-align="center center" ng-repeat="sub_plan in plan.tipo_restrictions" ng-if="sub_plan.tipo === 'TipoApp'">
									<div class="font20" md-colors="{color: 'accent-500'}"><b>{{sub_plan.max_allowed}}</b></div>
									<div style="color:gray">Included Applications</div>
								</div>
								<div layout="column" class="text-center margin10" layout-align="center center" >
									<div class="font20" md-colors="{color: 'accent-500'}"><b>{{plan.plan_restrictions.total_records_allowed}}</b></div>
									<div style="color:gray">Included Records</div>
								</div>
								<md-divider></md-divider>
								<div layout="column" class="text-center margin10" layout-align="center center" >
									<div class="planText" style="color:gray" ng-bind-html="plan.additional_text"></div>
								</div>
								<md-divider ng-if="plan.tipo_id !== 'Free'"></md-divider>
								<div ng-if="plan.tipo_id !== 'Free'" class="md-subhead">
									<div layout="column" class="text-center margin10" layout-align="center center" ng-repeat="sub_plan in plan.stripe_subscription_plans | orderBy:'item_sort_number' " > 
											<div class="font20" md-colors="{color: 'accent-500'}"><b>${{sub_plan.plan_amount}}</b></div>
											<div style="color:gray">Additional {{sub_plan.plane_name}}</div>
									</div>
									<div layout="column" class="text-center margin10" layout-align="center center" >
									<div class="font20" md-colors="{color: 'accent-500'}"><b>${{plan.plan_restrictions.charge_amount_pass_threshold}}/{{plan.plan_restrictions.per_records}}</b></div>
									<div style="color:gray">Additional Records</div>
								</div>
								</div>
						</div>
						</form>
						<md-button ng-if="plan.plan_status === 'Active'" class="md-primary md-raised m0" md-theme="reverse" md-colors="{background: 'accent-500'}" ng-click="controller.selectPlan(plan)" ng-disabled="plan.tipo_id === controller.tipo.plan"><span ng-if="plan.tipo_id === controller.tipo.plan">Current Plan</span><span ng-if="plan.tipo_id !== controller.tipo.plan">Choose Plan</span></md-button>
						<md-button ng-if="plan.plan_status === 'ComingSoon'" class="m0" md-theme="reverse" ng-disabled="true"><span>Coming Soon</span></md-button>
					</md-card>
				</div>
				<div ng-hide="!controller.inProgress">
			    	<img class="tp-list" ng-src="_assets/images/logos/tipotapp.gif" style="width: 50px;height: 50px;">
			  	</div>
			<!-- Show Plans -->
	</div>
	<!-- Credit Card Details -->
	<div id="myStaticDialog">
	</div>
	<!-- <div ng-hide="!controller.show_card" >
		<label for="card-element">Card</label>
		<div id="card-element"></div>
	</div>
	<md-button class="md-primary md-raised" ng-click="controller.createToken(true)" ng-if="controller.selectedPlan && controller.show_card">Update Subscription</md-button>
	<md-button class="md-primary md-raised" ng-click="controller.createToken(false)" ng-if="!controller.selectedPlan && controller.show_card">Update Card Details</md-button> -->
	<!-- Credit Card Details -->
</div>
<!--Container -->



