<div layout="row" layout-align="center stretch" layout-margin layout-wrap ng-controller="TipoAppController as controller" id="tipoapp-app-list">
  <md-card ng-repeat="tipo in controller.tipos"  layout="column" layout-align="start stretch" layout-padding ng-click="controller.launch(tipo); $event.stopPropagation();">
    
    
    <div layout="column" layout-align="start center">
      <span class="md-headline" md-colors="{color: 'primary-500'}">{{tipo.app_name}}</span>
      <div class="app-logo">
        <!-- <img ng-src="_assets/images/logos/{{tipo.logo}}" /> -->
        <md-icon ng-if="tipo.icon" md-colors="{color: 'accent-200'}" class="app-icon">{{tipo.icon}}</md-icon>
        <md-icon ng-if="!tipo.icon" md-colors="{color: 'accent-200'}" class="app-icon">apps</md-icon>
      </div>
    </div>
    <div class="md-subhead text-center" flex>{{tipo.app_description}}</div>
    <div class="action-bar" flex="none" layout="row" layout-align="center center">
      <md-button ng-click="tipoRootController.clone(tipo.tipo_id); $event.stopPropagation();" aria-label="Copy" class="md-icon-button">
        <md-tooltip md-direction="top">Copy Application</md-tooltip>
        <md-icon>content_copy</md-icon>
      </md-button>
      <md-button ng-click="controller.launch(tipo); $event.stopPropagation();" aria-label="Launch" class="md-icon-button">
        <md-tooltip md-direction="top">Launch Application</md-tooltip>
        <md-icon>launch</md-icon>
      </md-button>
      <md-button ng-click="controller.delete(tipo.tipo_id); $event.stopPropagation();" aria-label="Launch" class="md-icon-button">
        <md-tooltip md-direction="top">Delete Application</md-tooltip>
        <md-icon>delete</md-icon>
      </md-button>
    </action-bar>
  </md-card>
<div>