<div layout-padding>
  <h1>{{tipoRootController.tipoAction.label}}</h1>
  <p>
    <pre>
      Bind the form within fields of tipoRootController.data. This should just be whatever content of the action you want to post to the backend. So the final data might look like
      {
        "oldPassword": "xxxxx",
        "newPassword": "yyyyy",
        "reenterNewPassword": "yyyyy"
      }
      when you bind three input fields like -
      <input ng-model="tipoRootController.data.oldPassword" />
      <input ng-model="tipoRootController.data.newPassword" />
      <input ng-model="tipoRootController.data.reenterNewPassword" />
    </pre>
  </p>
<div>