								<div  show-gt-md hide-md show-sm show-xs>
	

	
<div class="tp-list">
  <div class="fluid-row-container" infinite-scroll='tipoRootController.nextPage(tipoRootController.searchText)' infinite-scroll-container="'#inf-wrapper'" infinite-scroll-disabled='tipoRootController.busy'>
    <div tp:perm   class="fluid-row" md-whiteframe="2">
    <md-table-container >
    	<table md-table md-row-select multiple ng-model="selected" md-progress="promise">
    		<thead md-head >
    		<tr md-row md-colors="{background: 'primary-400'}">

<th md-column ng-if="tipoRootController.singleedit || tipoRootController.bulkedit">
</th>
  	  	  		<th md-column>
		Filename
		</th>
	      	  	  		<th md-column>
		Last Modified
		</th>
	      	  	  		<th md-column>
		Folder(?)
		</th>
	    
    		</tr>
    		</thead>
    		<tbody md-body>
    		<tr md-row md-select="tipo" md-select-id="id" md-auto-select  ng-class="{'selected pointer': tipo.selected}" ng-click="!tipo.disableclick && tipoRootController.toDetail(tipo.tipo_id)" ng-repeat="tipo in tipoRootController.tipos | filter:tipoRootController.searchText">
      
 
<td md-cell ng-if="tipoRootController.singleedit || tipoRootController.bulkedit">
	<md-checkbox ng-disabled="true" ng-model="tipo.selected" ng-click="$event.stopPropagation();"></md-checkbox>
</td>
  	  	  		<td md-cell ng-click="!tipo.disableclick && tipoRootController.selectTipo(tipo,$event,tipoRootController.tipos)">
		
			<span>
		
				
					{{tipo.filename || '-N/A-'}}
				
	</span>
	
	
		</td>
	      	  	  		<td md-cell ng-click="!tipo.disableclick && tipoRootController.selectTipo(tipo,$event,tipoRootController.tipos)">
		
			<span>
		
				
						<span>{{(tipo.last_modified | date:'MM/dd/yyyy') || '-N/A-'}}</span>
				
	</span>
	
	
		</td>
	      	  	  		<td md-cell ng-click="!tipo.disableclick && tipoRootController.selectTipo(tipo,$event,tipoRootController.tipos)">
		
			<span>
		
				
					{{tipo.is_folder || '-N/A-'}}
				
	</span>
	
	
		</td>
	            
		</tr>
		</tbody>
		</table>
      </md-table-container>
    </div>
  </div>
</div>

 
</div>
<div  hide-gt-md show-md hide-sm hide-xs>
	
 
 
<div class="tp-list">
  <div class="fluid-row-container" infinite-scroll='tipoRootController.nextPage(tipoRootController.searchText)' infinite-scroll-container="'#inf-wrapper'" infinite-scroll-disabled='tipoRootController.busy'>
    <div layout="row" tp:perm ng-click="!tipo.disableclick && tipoRootController.toDetail(tipo.tipo_id)" ng-repeat="tipo in tipoRootController.tipos | filter:tipoRootController.searchText" class="fluid-row" md-whiteframe="2">
      <md-checkbox ng-disabled="true" ng-if="tipoRootController.singleedit || tipoRootController.bulkedit" ng-model="tipo.selected" ng-click="$event.stopPropagation();" id="listcheckbox"></md-checkbox>
      <div flex layout="row" layout-padding layout-wrap layout-align="start start" class="data pointer layout-row" ng-class="{'selected': tipo.selected}" ng-click="!tipo.disableclick && tipoRootController.selectTipo(tipo,$event,tipoRootController.tipos)">
 
  			     		  	    	    		
			
  	
	    <dl class="view" 
			    layout="column" 
		    layout-align="center stretch"
		    flex="100" 
			flex-gt-sm="50" 
			flex-gt-md="33">
    <dt>
	    	    					<span>Filename</span>
									</dt>
    <dd>
		<div class="tp-field">
			<span>
				<md-input-container md-no-float>
										
			<span>
		
				
					{{tipo.filename || '-N/A-'}}
				
	</span>
	
	
									</md-input-container>
			</span>
		</div>       
    </dd>
 </dl>
       			     		  	    	    		
			
  	
	    <dl class="view" 
			    layout="column" 
		    layout-align="center stretch"
		    flex="100" 
			flex-gt-sm="50" 
			flex-gt-md="33">
    <dt>
	    	    					<span>Last Modified</span>
									</dt>
    <dd>
		<div class="tp-field">
			<span>
				<md-input-container md-no-float>
										
			<span>
		
				
						<span>{{(tipo.last_modified | date:'MM/dd/yyyy') || '-N/A-'}}</span>
				
	</span>
	
	
									</md-input-container>
			</span>
		</div>       
    </dd>
 </dl>
       			     		  	    	    		
			
  	
	    <dl class="view" 
			    layout="column" 
		    layout-align="center stretch"
		    flex="100" 
			flex-gt-sm="50" 
			flex-gt-md="33">
    <dt>
	    	    					<span>Folder(?)</span>
									</dt>
    <dd>
		<div class="tp-field">
			<span>
				<md-input-container md-no-float>
										
			<span>
		
				
					{{tipo.is_folder || '-N/A-'}}
				
	</span>
	
	
									</md-input-container>
			</span>
		</div>       
    </dd>
 </dl>
             
      </div>
   
      
    </div>
  </div>
</div>

 </div>
	

