
        	
			<div class="p-8">
			  <section class="fieldset no-header fluid-row-container">
			    <div class="data" layout-padding layout="row" layout-wrap layout-align="start start">
		 
						 
 			 
 

									
			  				  		     		
			
			
			
	  	  	  	  	  	  	  	  	  	  	
    	    		
			
			
  	
	    <dl class="edit" 
				    layout="column" 
		    layout-align="center stretch"
			    flex="100" 
			flex-gt-sm="50" 
			flex-gt-md="33" style="display:none;">
    <dt style="min-height: 16px;">
	    	    					<span>TestingGeo1 ID</span>
									</dt>
	    <dd>
    		<div class="tp-field">
			<span>
				<md-input-container md-no-float>
																															<input ng-model="tipoRootController.tipo.tipo_id" ng-disabled="false" aria-label="TestingGeo1 ID" placeholder="" name="TestingGeo1 ID_string" ng-required="false" ng-pattern=""  >
																					</md-input-container>
			</span>
		</div>       
    </dd>
 </dl>
 			    									
			  				  		     		
			
			
			
	  	  	  	  	  	  	  	  	  	  	  	
    	    		
			
		
  	
	    <dl class="edit" 
				    layout="column" 
		    layout-align="center stretch"
			    flex="100" 
			flex-gt-sm="50" 
			flex-gt-md="100" style="">
    <dt style="min-height: 16px;">
	    	    					<span>Maps</span>
									</dt>
	    <dd>
    		<div class="tp-field">
			<span>
				<md-input-container md-no-float>																																				<tp:google-maps mapjson="[{'tipo_name': 'TipoDefinition', 'field_name': 'underscore_location'} ,]" root="tipoRootController.tipo" />
		    																	</md-input-container>
			</span>
		</div>       
    </dd>
 </dl>
 			    									
			  				  		     		
			
			
			
	  	  	  	  	  	  	  	  	  	  	
    	    		
			
		
  	
	    <dl class="edit" 
				    layout="column" 
		    layout-align="center stretch"
			    flex="100" 
			flex-gt-sm="50" 
			flex-gt-md="33" style="">
    <dt style="min-height: 16px;">
	    	    					<span>Pie Chart</span>
									</dt>
	    <dd>
    		<div class="tp-field">
			<span>
				<md-input-container md-no-float>																												    					    	<tp:d3 chartType="pieChart" data="[{'tipo_name': 'TipoStandingData', 'field_name': 'category'} ,]" agrregation="count" />
																				</md-input-container>
			</span>
		</div>       
    </dd>
 </dl>
 <style type="text/css">
 .flatpickr-day.selected, .flatpickr-day.startRange, .flatpickr-day.endRange, .flatpickr-day.selected.inRange, .flatpickr-day.startRange.inRange, .flatpickr-day.endRange.inRange, .flatpickr-day.selected:focus, .flatpickr-day.startRange:focus, .flatpickr-day.endRange:focus, .flatpickr-day.selected:hover, .flatpickr-day.startRange:hover, .flatpickr-day.endRange:hover, .flatpickr-day.selected.prevMonthDay, .flatpickr-day.startRange.prevMonthDay, .flatpickr-day.endRange.prevMonthDay, .flatpickr-day.selected.nextMonthDay, .flatpickr-day.startRange.nextMonthDay, .flatpickr-day.endRange.nextMonthDay{
 	background: #f48fb1;
    border-color: #f48fb1;
 }
 </style>

 	    <dl class="edit" 
				    layout="column" 
		    layout-align="center stretch"
			    flex="100" 
			flex-gt-sm="50" 
			flex-gt-md="33" style="">
    <dt style="min-height: 16px;">
	    	    					<span>Date Time Picker</span>
									</dt>
	    <dd>
    		<div class="tp-field">
			<span>
				<md-input-container md-no-float>																							 	<input ng-flatpickr fp-opts="{enableTime: true}" ng-model="date.selectedDateObj" data-enabletime="true">			    					    																			
				</md-input-container>
			</span>
		</div>       
    </dd>
 </dl>
 			    											        
			     				
			    </div>
			  </section>
			</div>
