         

<div class="tp-list">
  <div class="fluid-row-container" infinite-scroll='tipoRootController.nextPage(tipoRootController.searchText)' infinite-scroll-container="'#inf-wrapper'" infinite-scroll-disabled='tipoRootController.busy'>
    <div layout="row" tp:perm ng-click="!tipo.disableclick && tipoRootController.toDetail(tipo.tipo_id)" ng-repeat="tipo in tipoRootController.tipos| filter:tipoRootController.searchText" class="fluid-row" md-whiteframe="2">
      <md-checkbox ng-if="tipoRootController.bulkedit" ng-model="tipo.selected" ng-click="$event.stopPropagation();" id="listcheckbox"></md-checkbox>
      <div flex layout="row" layout-padding layout-wrap layout-align="start start" class="data pointer layout-row" ng-class="{'selected': tipo.selected}" ng-click="!tipo.disableclick && tipoRootController.selectTipo(tipo,$event,tipoRootController.tipos)">
      
        <!-- tp:field-container field="field" ng-if="!field._ui.isGroup && !field.hidden && field._value" ng-repeat="field in tipo.value.tipo_fields"/-->
 
                              
      <dl class="edit" 
          layout="column" 
          layout-align="center stretch"
          flex="100" 
        flex-gt-sm="50" 
        flex-gt-md="33"
        ng-if="tipo.tipo_meta.display_name">
        <dt>
         Name   <span>*</span>        </dt>
        <dd>
        <div class="tp-field">
        
               <span>{{tipo.tipo_meta.display_name}}</span>
               </div>
        </dd>
      </dl>
                                
      <dl class="edit" 
          layout="column" 
          layout-align="center stretch"
          flex="100" 
        flex-gt-sm="50" 
        flex-gt-md="33"
        ng-if="tipo.tipo_meta.icon">
        <dt>
         Icon         </dt>
        <dd>
        <div class="tp-field">
        <a class="explicit" ui-sref="tipoView({tipo_name: 'TipoIcon', tipo_id: tipo.tipo_meta.icon})" ui-sref-opts="{reload: 'tipoView'}">{{ tipo.tipo_meta.icon_refs['ref' + tipo.tipo_meta.icon] || tipo.tipo_meta.icon}}</a>
             </div>
        </dd>
      </dl>
                                
      <dl class="edit" 
          layout="column" 
          layout-align="center stretch"
          flex="100" 
        flex-gt-sm="50" 
        flex-gt-md="33"
        ng-if="tipo.tipo_meta.tipo_name">
        <dt>
         URL Name         </dt>
        <dd>
        <div class="tp-field">
        
               <span>{{tipo.tipo_meta.tipo_name}}</span>
               </div>
        </dd>
      </dl>
                                
      <dl class="edit" 
          layout="column" 
          layout-align="center stretch"
          flex="100" 
        flex-gt-sm="50" 
        flex-gt-md="33"
        ng-if="tipo.tipo_meta.description">
        <dt>
         Description          </dt>
        <dd>
        <div class="tp-field">
        
                <span class="preformatted-text">{{tipo.tipo_meta.description}}</span>
               </div>
        </dd>
      </dl>
                                
      <dl class="edit" 
          layout="column" 
          layout-align="center stretch"
          flex="100" 
        flex-gt-sm="50" 
        flex-gt-md="33"
        ng-if="tipo.tipo_meta.tipo_sequence">
        <dt>
         Menu Order         </dt>
        <dd>
        <div class="tp-field">
        
               <span>{{tipo.tipo_meta.tipo_sequence}}</span>
               </div>
        </dd>
      </dl>
                                  
      <dl class="edit" 
          layout="column" 
          layout-align="center stretch"
          flex="100" 
        flex-gt-sm="50" 
        flex-gt-md="33"
        ng-if="tipo.tipo_meta.tipo_type">
        <dt>
         Tipo type          </dt>
        <dd>
        <div class="tp-field">
                  <md-chips ng-model="tipo.tipo_meta.tipo_type" readonly="'true'" class="tp-chips readonly">
            <md-chip-template>
              <span>{{$chip}}</span>
            </md-chip-template>
          </md-chips>
               </div>
        </dd>
      </dl>
                                
      <dl class="edit" 
          layout="column" 
          layout-align="center stretch"
          flex="100" 
        flex-gt-sm="50" 
        flex-gt-md="33"
        ng-if="tipo.tipo_meta.tipo_ui_type">
        <dt>
         Tipo UI Type         </dt>
        <dd>
        <div class="tp-field">
        
               <span>{{tipo.tipo_meta.tipo_ui_type}}</span>
               </div>
        </dd>
      </dl>
                                
      <dl class="edit" 
          layout="column" 
          layout-align="center stretch"
          flex="100" 
        flex-gt-sm="50" 
        flex-gt-md="33"
        ng-if="tipo.tipo_meta.perspective_field_name">
        <dt>
         Perspective Field          </dt>
        <dd>
        <div class="tp-field">
        
               <span>{{tipo.tipo_meta.perspective_field_name}}</span>
               </div>
        </dd>
      </dl>
            
      </div>
      <div flex="none" layout="column" layout-align="center center" class="actions bg" ng-if="!tipoRootController.popup">
        <md-button ng-if="!tipo.disableclick" ng-click="tipoRootController.toDetail(tipo.tipo_id)" aria-label="View details">
          <md-tooltip md-direction="left">Details</md-tooltip>
          <md-icon>fullscreen</md-icon>
        </md-button>
        <md-button ng-click="tipoRootController.clone(tipo.tipo_id);$event.stopPropagation();"  ng-if="!tipoRootController.tipoDefinition._ui.isSingleton" aria-label="Copy" class="md-icon-button">
          <md-tooltip md-direction="left">Copy</md-tooltip>
          <md-icon>content_copy</md-icon>
        </md-button>
        <md-button ng-click="tipoRootController.delete(tipo.tipo_id);$event.stopPropagation();"  ng-if="!tipoRootController.tipoDefinition._ui.isSingleton" aria-label="Copy" class="md-icon-button">
          <md-tooltip md-direction="left">Delete</md-tooltip>
          <md-icon>delete</md-icon>
        </md-button>
      </div>
    </div>
  </div>
</div>

 
