         

<div class="tp-list">
  <div class="fluid-row-container">
    <div layout="row" tp:perm ng-click="!tipo.disableclick && tipoRootController.toDetail(tipo.tipo_id)" ng-repeat="tipo in tipoRootController.tipos" class="fluid-row" md-whiteframe="2">
      <md-checkbox ng-if="tipoRootController.bulkedit" ng-model="tipo.selected" ng-click="$event.stopPropagation();" id="listcheckbox"></md-checkbox>
      <div flex layout="row" layout-padding layout-wrap layout-align="start start" class="data pointer layout-row" ng-class="{'selected': tipo.selected}" ng-click="!tipo.disableclick && tipoRootController.selectTipo(tipo,$event,tipoRootController.tipos)">
      
        <!-- tp:field-container field="field" ng-if="!field._ui.isGroup && !field.hidden && field._value" ng-repeat="field in tipo.value.tipo_fields"/-->
 
                            
      <dl class="edit" 
          layout="column" 
          layout-align="center stretch"
          flex="100" 
        flex-gt-sm="50" 
        flex-gt-md="33"
        ng-if="tipo.tipoapp">
        <dt>
         TipoApp          </dt>
        <dd>
        <div class="tp-field">
        <a class="explicit" ui-sref="tipoView({tipo_name: 'TipoApp', tipo_id: tipo.tipoapp})" ui-sref-opts="{reload: 'tipoView'}">{{ tipo.tipoapp_refs['ref' + tipo.tipoapp] || tipo.tipoapp}}</a>
             </div>
        </dd>
      </dl>
                                
      <dl class="edit" 
          layout="column" 
          layout-align="center stretch"
          flex="100" 
        flex-gt-sm="50" 
        flex-gt-md="33"
        ng-if="tipo.simple_string">
        <dt>
         Simple String          </dt>
        <dd>
        <div class="tp-field">
        
               <span>{{tipo.simple_string}}</span>
               </div>
        </dd>
      </dl>
                                
      <dl class="edit" 
          layout="column" 
          layout-align="center stretch"
          flex="100" 
        flex-gt-sm="50" 
        flex-gt-md="33"
        ng-if="tipo.para">
        <dt>
         Para         </dt>
        <dd>
        <div class="tp-field">
        
                <span class="preformatted-text">{{tipo.para}}</span>
               </div>
        </dd>
      </dl>
                                
      <dl class="edit" 
          layout="column" 
          layout-align="center stretch"
          flex="100" 
        flex-gt-sm="50" 
        flex-gt-md="33"
        ng-if="tipo.tipoarray">
        <dt>
         TipoArray          </dt>
        <dd>
        <div class="tp-field">
        <div class="multiple-list">
          <div ng-repeat="value in tipo.tipoarray">
            <a class="explicit" ui-sref="tipoView({tipo_name: TipoApp, tipo_id: value})" ui-sref-opts="{reload: 'tipoView'}">{{value}}</a>
          </div>
       </div>
           </div>
        </dd>
      </dl>
                                
      <dl class="edit" 
          layout="column" 
          layout-align="center stretch"
          flex="100" 
        flex-gt-sm="50" 
        flex-gt-md="33"
        ng-if="tipo.rich_text">
        <dt>
         Rich Text          </dt>
        <dd>
        <div class="tp-field">
        
                <span>
            <div ng-bind-html="tipo.rich_text" class="richstring"></div>
          </span>
               </div>
        </dd>
      </dl>
                                
      <dl class="edit" 
          layout="column" 
          layout-align="center stretch"
          flex="100" 
        flex-gt-sm="50" 
        flex-gt-md="33"
        ng-if="tipo.html_link">
        <dt>
         HTML Link          </dt>
        <dd>
        <div class="tp-field">
        
                <a ng-href="{{tipo.html_link}}" target="_blank">{{tipo.html_link}}</a>    
               </div>
        </dd>
      </dl>
                                
      <dl class="edit" 
          layout="column" 
          layout-align="center stretch"
          flex="100" 
        flex-gt-sm="50" 
        flex-gt-md="33"
        ng-if="tipo.boolean_">
        <dt>
         Boolean          </dt>
        <dd>
        <div class="tp-field">
        
             <span ng-if="tipo.boolean_">Yes</span>
       <span ng-if="!tipo.boolean_">No</span>
               </div>
        </dd>
      </dl>
                                
      <dl class="edit" 
          layout="column" 
          layout-align="center stretch"
          flex="100" 
        flex-gt-sm="50" 
        flex-gt-md="33"
        ng-if="tipo.date_time">
        <dt>
         Date/Time          </dt>
        <dd>
        <div class="tp-field">
        
                <span>{{tipo.date_time | date:'MM/dd/yyyy'}}</span>
               </div>
        </dd>
      </dl>
                                
      <dl class="edit" 
          layout="column" 
          layout-align="center stretch"
          flex="100" 
        flex-gt-sm="50" 
        flex-gt-md="33"
        ng-if="tipo.integer_">
        <dt>
         Integer          </dt>
        <dd>
        <div class="tp-field">
        
               <span>{{tipo.integer_}}</span>
               </div>
        </dd>
      </dl>
                                
      <dl class="edit" 
          layout="column" 
          layout-align="center stretch"
          flex="100" 
        flex-gt-sm="50" 
        flex-gt-md="33"
        ng-if="tipo.tipopopup">
        <dt>
         TipoPopup          </dt>
        <dd>
        <div class="tp-field">
        <a class="explicit" ui-sref="tipoView({tipo_name: 'VelocityTest', tipo_id: tipo.tipopopup})" ui-sref-opts="{reload: 'tipoView'}">{{ tipo.tipopopup_refs['ref' + tipo.tipopopup] || tipo.tipopopup}}</a>
             </div>
        </dd>
      </dl>
                                
      <dl class="edit" 
          layout="column" 
          layout-align="center stretch"
          flex="100" 
        flex-gt-sm="50" 
        flex-gt-md="33"
        ng-if="tipo.tipoarraypop">
        <dt>
         TipoArrayPop         </dt>
        <dd>
        <div class="tp-field">
        <div class="multiple-list">
          <div ng-repeat="value in tipo.tipoarraypop">
            <a class="explicit" ui-sref="tipoView({tipo_name: VelocityTest, tipo_id: value})" ui-sref-opts="{reload: 'tipoView'}">{{value}}</a>
          </div>
       </div>
           </div>
        </dd>
      </dl>
            
      </div>
      <div flex="none" layout="column" layout-align="center center" class="actions bg" ng-if="!tipoRootController.popup">
        <md-button ng-if="!tipo.disableclick" ng-click="tipoRootController.toDetail(tipo.tipo_id)" aria-label="View details">
          <md-tooltip md-direction="left">Details</md-tooltip>
          <md-icon>fullscreen</md-icon>
        </md-button>
        <md-button ng-click="tipoRootController.clone(tipo.tipo_id)"  ng-if="!tipoRootController.tipoDefinition._ui.isSingleton" aria-label="Copy" class="md-icon-button">
          <md-tooltip md-direction="left">Copy</md-tooltip>
          <md-icon>content_copy</md-icon>
        </md-button>
      </div>
    </div>
  </div>
</div>

 
