         

<div class="p-8">
  <section class="fieldset no-header fluid-row-container">
    <div class="data" layout-padding layout="row" layout-wrap layout-align="start start">
      <!-- <tp:field-container root="root" context="definition" field="field" mode="{{mode}}" ng-repeat="field in definition.tipo_fields" ng-if="field._ui.isSimple && !field.hidden_ && (mode === 'edit' || field._value)"/> -->
            
 
                            
     <dl class="edit" 
          layout="column" 
          layout-align="center stretch"
          flex="100" 
        flex-gt-sm="50" 
        flex-gt-md="33">
        <dt>
         Simple String      </dt>
        <dd>
      <div class="tp-field">
        <span>
          <md-input-container md-no-float>
        
                          <input ng-model="tipoRootController.tipo.simple_string" aria-label="Simple String" placeholder="$field.field_description" name="$field.display_name_string" ng-required="false">
                      </md-input-container>
        </span>
      </div>       
        </dd>
      </dl>
                                
     <dl class="edit" 
          layout="column" 
          layout-align="center stretch"
          flex="100" 
        flex-gt-sm="50" 
        flex-gt-md="33">
        <dt>
         Para     </dt>
        <dd>
      <div class="tp-field">
        <span>
          <md-input-container md-no-float>
        
                <textarea ng-model="tipoRootController.tipo.para" rows="2" md-select-on-focus aria-label="Para" placeholder="$field.field_description" name="$field.display_name_longstring" ng-required="false"  />
                </md-input-container>
        </span>
      </div>       
        </dd>
      </dl>
                                
     <dl class="edit" 
          layout="column" 
          layout-align="center stretch"
          flex="100" 
        flex-gt-sm="50" 
        flex-gt-md="33">
        <dt>
         Rich Text      </dt>
        <dd>
      <div class="tp-field">
        <span>
          <md-input-container md-no-float>
        
                <text-angular ng-model="tipoRootController.tipo.rich_text" style="z-index:1" name="$field.display_name_richstring" data-ng-required="false"></text-angular>
                </md-input-container>
        </span>
      </div>       
        </dd>
      </dl>
                                
     <dl class="edit" 
          layout="column" 
          layout-align="center stretch"
          flex="100" 
        flex-gt-sm="50" 
        flex-gt-md="33">
        <dt>
         HTML Link      </dt>
        <dd>
      <div class="tp-field">
        <span>
          <md-input-container md-no-float>
        
                <input ng-model="tipoRootController.tipo.html_link" aria-label="HTML Link" placeholder="$field.field_description" name="$field.display_name_htmlLink" ng-required="false">
                    </md-input-container>
        </span>
      </div>       
        </dd>
      </dl>
                                
     <dl class="edit" 
          layout="column" 
          layout-align="center stretch"
          flex="100" 
        flex-gt-sm="50" 
        flex-gt-md="33">
        <dt>
         Boolean      </dt>
        <dd>
      <div class="tp-field">
        <span>
          <md-input-container md-no-float>
        
              <div class="tp-switch" >
            <md-switch class="md-primary" ng-model="tipoRootController.tipo.boolean_" aria-label="$field.field_description">
              <span>{{ tipoRootController.tipo.boolean_ && 'Yes' || 'No' }}</span>
            </md-switch>
        </div>      
                </md-input-container>
        </span>
      </div>       
        </dd>
      </dl>
                                
     <dl class="edit" 
          layout="column" 
          layout-align="center stretch"
          flex="100" 
        flex-gt-sm="50" 
        flex-gt-md="33">
        <dt>
         Date/Time      </dt>
        <dd>
      <div class="tp-field">
        <span>
          <md-input-container md-no-float>
        
                <md-datepicker ng-model="tipoRootController.tipo.date_time" md-placeholder="$field.field_description" name="$field.display_name_date_time" ng-required="false" ng-init="tipoRootController.tipo.date_time = tipoRootController.Date(tipoRootController.tipo.date_time)">
            </md-datepicker>
                </md-input-container>
        </span>
      </div>       
        </dd>
      </dl>
                                
     <dl class="edit" 
          layout="column" 
          layout-align="center stretch"
          flex="100" 
        flex-gt-sm="50" 
        flex-gt-md="33">
        <dt>
         Integer      </dt>
        <dd>
      <div class="tp-field">
        <span>
          <md-input-container md-no-float>
        
                          <input ng-model="tipoRootController.tipo.integer_" aria-label="Integer" placeholder="$field.field_description" name="$field.display_name_integer" ng-required="false">
                      </md-input-container>
        </span>
      </div>       
        </dd>
      </dl>
                                
     <dl class="edit" 
          layout="column" 
          layout-align="center stretch"
          flex="100" 
        flex-gt-sm="50" 
        flex-gt-md="33">
        <dt>
         TipoApp      </dt>
        <dd>
      <div class="tp-field">
        <span>
          <md-input-container md-no-float>
                                    <tp:lookup root="tipoRootController.tipoDefinition" context="tipoRootController.tipoDefinition"  field="tipoRootController.tipo.tipoapp" field-data='{"isArray":false,"isGroup":"false","baseFilter":"","relatedTipo":"TipoApp","labelField":"app_name","isPopup":false,"mandatory":false,"fieldKey":"tipoapp"}' tipo-data="tipoRootController.tipo" /> 
              </md-input-container>
        </span>
      </div>       
        </dd>
      </dl>
            
            
    </div>
  </section>
</div>

 
