         

<div class="p-8">
  <section class="fieldset no-header fluid-row-container">
    <div class="data" layout-padding layout="row" layout-wrap layout-align="start start">
 
 
 

                                          
     <dl class="edit" 
        layout="column" 
        layout-align="center stretch"
        flex="100" 
      flex-gt-sm="50" 
      flex-gt-md="33">
    <dt>
               TipoApp        </dt>
    <dd>
    <div class="tp-field">
      <span>
        <md-input-container md-no-float>
                            <tp:lookup fieldvalue="tipoRootController.tipo.tipoapp" basefilter="''" realtedtipo="'TipoApp'" isarray="false" ispopup="" required="false" labelfield="'app_name'" allowcreate="" selectfield="">
              <div ng-messages="tipoForm['TipoApp_Tipo.TipoApp'].$error">
              <div ng-message="required" >This is required.</div>
              <div ng-message="pattern" >This field must be </div>
          </div>        
        </md-input-container>
      </span>
    </div>       
    </dd>
 </dl>
     

                                          
         <dl class="edit" 
        layout="column" 
        layout-align="center stretch"
        flex="100" 
      flex-gt-sm="50" 
      flex-gt-md="33">
    <dt>
               Simple String        </dt>
    <dd>
    <div class="tp-field">
      <span>
        <md-input-container md-no-float>
                    <input ng-model="tipoRootController.tipo.simple_string" aria-label="Simple String" placeholder="" name="Simple String_string" ng-required="false" ng-pattern="/^.+@.+\..+$/">
                  <div ng-messages="tipoForm['Simple String_string'].$error">
              <div ng-message="required" >This is required.</div>
              <div ng-message="pattern" >This field must be Email</div>
          </div>        
        </md-input-container>
      </span>
    </div>       
    </dd>
 </dl>
     

                                          
         <dl class="edit" 
        layout="column" 
        layout-align="center stretch"
        flex="100" 
      flex-gt-sm="50" 
      flex-gt-md="33">
    <dt>
               Role String        </dt>
    <dd>
    <div class="tp-field">
      <span>
        <md-input-container md-no-float>
                    <input ng-model="tipoRootController.tipo.role_string" aria-label="Role String" placeholder="" name="Role String_string" ng-required="false" ng-pattern="/*/">
                  <div ng-messages="tipoForm['Role String_string'].$error">
              <div ng-message="required" >This is required.</div>
              <div ng-message="pattern" >This field must be String</div>
          </div>        
        </md-input-container>
      </span>
    </div>       
    </dd>
 </dl>
     

                                          
     <dl class="edit" 
        layout="column" 
        layout-align="center stretch"
        flex="100" 
      flex-gt-sm="50" 
      flex-gt-md="33">
    <dt>
               Paragraph        </dt>
    <dd>
    <div class="tp-field">
      <span>
        <md-input-container md-no-float>
                                                                              <tp:simple-dropdown isArray="true" fieldValue="tipoRootController.tipo.paragraph" required="false" allowedValues="['tes2','test','test1']" alloweCreate="$field.allow_create" placeholder="" name="Paragraph_string" />
                                  <div ng-messages="tipoForm['Paragraph_string'].$error">
              <div ng-message="required" >This is required.</div>
              <div ng-message="pattern" >This field must be </div>
          </div>        
        </md-input-container>
      </span>
    </div>       
    </dd>
 </dl>
     

                                          
     <dl class="edit" 
        layout="column" 
        layout-align="center stretch"
        flex="100" 
      flex-gt-sm="50" 
      flex-gt-md="33">
    <dt>
               Rich Text        </dt>
    <dd>
    <div class="tp-field">
      <span>
        <md-input-container md-no-float>
                      <text-angular ng-model="tipoRootController.tipo.rich_text" style="z-index:1" name="Rich Text_richstring" data-ng-required="false"></text-angular>
                  <div ng-messages="tipoForm['Rich Text_richstring'].$error">
              <div ng-message="required" >This is required.</div>
              <div ng-message="pattern" >This field must be </div>
          </div>        
        </md-input-container>
      </span>
    </div>       
    </dd>
 </dl>
     

                                          
     <dl class="edit" 
        layout="column" 
        layout-align="center stretch"
        flex="100" 
      flex-gt-sm="50" 
      flex-gt-md="33">
    <dt>
               HTML Link        </dt>
    <dd>
    <div class="tp-field">
      <span>
        <md-input-container md-no-float>
                      <input ng-model="tipoRootController.tipo.html_link" aria-label="HTML Link" placeholder="" name="HTML Link_htmlLink" ng-required="false">
                  <div ng-messages="tipoForm['HTML Link_htmlLink'].$error">
              <div ng-message="required" >This is required.</div>
              <div ng-message="pattern" >This field must be </div>
          </div>        
        </md-input-container>
      </span>
    </div>       
    </dd>
 </dl>
     

                                          
     <dl class="edit" 
        layout="column" 
        layout-align="center stretch"
        flex="100" 
      flex-gt-sm="50" 
      flex-gt-md="33">
    <dt>
               Boolean        </dt>
    <dd>
    <div class="tp-field">
      <span>
        <md-input-container md-no-float>
                      <div class="tp-switch" >
            <md-switch class="md-primary" ng-model="tipoRootController.tipo.boolean_" aria-label="$display_name">
              <span>{{ tipoRootController.tipo.boolean_ && 'Yes' || 'No' }}</span>
            </md-switch>
        </div>
                  <div ng-messages="tipoForm['Boolean_boolean'].$error">
              <div ng-message="required" >This is required.</div>
              <div ng-message="pattern" >This field must be </div>
          </div>        
        </md-input-container>
      </span>
    </div>       
    </dd>
 </dl>
     

                                          
     <dl class="edit" 
        layout="column" 
        layout-align="center stretch"
        flex="100" 
      flex-gt-sm="50" 
      flex-gt-md="33">
    <dt>
               Date/Time        </dt>
    <dd>
    <div class="tp-field">
      <span>
        <md-input-container md-no-float>
                      <md-datepicker ng-model="tipoRootController.tipo.date_time" md-placeholder="" name="Date/Time_date_time" ng-required="false" ng-init="tipoRootController.tipo.date_time = tipoRootController.Date(tipoRootController.tipo.date_time)">
       </md-datepicker>
                  <div ng-messages="tipoForm['Date/Time_date_time'].$error">
              <div ng-message="required" >This is required.</div>
              <div ng-message="pattern" >This field must be </div>
          </div>        
        </md-input-container>
      </span>
    </div>       
    </dd>
 </dl>
     

                                          
     <dl class="edit" 
        layout="column" 
        layout-align="center stretch"
        flex="100" 
      flex-gt-sm="50" 
      flex-gt-md="33">
    <dt>
               Integer        </dt>
    <dd>
    <div class="tp-field">
      <span>
        <md-input-container md-no-float>
                    <input ng-model="tipoRootController.tipo.integer_" aria-label="Integer" placeholder="" name="Integer_integer" ng-required="false" ng-pattern="/*/">
                  <div ng-messages="tipoForm['Integer_integer'].$error">
              <div ng-message="required" >This is required.</div>
              <div ng-message="pattern" >This field must be </div>
          </div>        
        </md-input-container>
      </span>
    </div>       
    </dd>
 </dl>
     

                                            
     <dl class="edit" 
        layout="column" 
        layout-align="center stretch"
        flex="100" 
      flex-gt-sm="50" 
      flex-gt-md="33">
    <dt>
               TipoDropdown       </dt>
    <dd>
    <div class="tp-field">
      <span>
        <md-input-container md-no-float>
                            <tp:lookup fieldvalue="tipoRootController.tipo.tipodropdown" basefilter="''" realtedtipo="'TipoIcon'" isarray="false" ispopup="" required="false" labelfield="'name_'" allowcreate="true" selectfield="">
              <div ng-messages="tipoForm['TipoDropdown_Tipo.TipoIcon'].$error">
              <div ng-message="required" >This is required.</div>
              <div ng-message="pattern" >This field must be </div>
          </div>        
        </md-input-container>
      </span>
    </div>       
    </dd>
 </dl>
     

                                          
     <dl class="edit" 
        layout="column" 
        layout-align="center stretch"
        flex="100" 
      flex-gt-sm="50" 
      flex-gt-md="33">
    <dt>
               TipoArray        </dt>
    <dd>
    <div class="tp-field">
      <span>
        <md-input-container md-no-float>
                            <tp:lookup fieldvalue="tipoRootController.tipo.tipoarray" basefilter="''" realtedtipo="'TipoApp'" isarray="true" ispopup="" required="false" labelfield="'app_name'" allowcreate="" selectfield="">
              <div ng-messages="tipoForm['TipoArray_Tipo.TipoApp'].$error">
              <div ng-message="required" >This is required.</div>
              <div ng-message="pattern" >This field must be </div>
          </div>        
        </md-input-container>
      </span>
    </div>       
    </dd>
 </dl>
     

                                          
     <dl class="edit" 
        layout="column" 
        layout-align="center stretch"
        flex="100" 
      flex-gt-sm="50" 
      flex-gt-md="33">
    <dt>
               TipoPopup        </dt>
    <dd>
    <div class="tp-field">
      <span>
        <md-input-container md-no-float>
                            <tp:lookup fieldvalue="tipoRootController.tipo.tipopopup" basefilter="''" realtedtipo="'VelocityTest'" isarray="false" ispopup="" required="false" labelfield="'$key_field.field_name'" allowcreate="" selectfield="">
              <div ng-messages="tipoForm['TipoPopup_Tipo.VelocityTest'].$error">
              <div ng-message="required" >This is required.</div>
              <div ng-message="pattern" >This field must be </div>
          </div>        
        </md-input-container>
      </span>
    </div>       
    </dd>
 </dl>
     

                                          
     <dl class="edit" 
        layout="column" 
        layout-align="center stretch"
        flex="100" 
      flex-gt-sm="50" 
      flex-gt-md="33">
    <dt>
               TipoArrayPop       </dt>
    <dd>
    <div class="tp-field">
      <span>
        <md-input-container md-no-float>
                            <tp:lookup fieldvalue="tipoRootController.tipo.tipoarraypop" basefilter="''" realtedtipo="'VelocityTest'" isarray="false" ispopup="" required="false" labelfield="'$key_field.field_name'" allowcreate="" selectfield="">
              <div ng-messages="tipoForm['TipoArrayPop_Tipo.VelocityTest'].$error">
              <div ng-message="required" >This is required.</div>
              <div ng-message="pattern" >This field must be </div>
          </div>        
        </md-input-container>
      </span>
    </div>       
    </dd>
 </dl>
     

        <section class="fieldset fluid-row-container" flex="100">
      <div class="header">
        <div layout="row" layout-align="end center">
          <h3 flex ng-init="tipoRootController.initCollapsed('fieldgrtest', '')">
            <a href="" ng-click="fieldgrtest.collapsed = !fieldgrtest.collapsed" class="plain" md-colors="{color: 'primary-700'}">
              <i class="fa" ng-class="{'fa-caret-down': !fieldgrtest.collapsed , 'fa-caret-right': fieldgrtest.collapsed}"></i>
               FieldGrtest
            </a>
          </h3>
          <div class="actions horizontal" layout="row" layout-align="center center">
                      <div layout="row">
              <div flex="none">
                            </div>
              <div flex="none">
                              <md-button class="m0" ng-click="tipoRootController.showDetail('fieldgrtest')" aria-label="Edit">
                  <md-tooltip md-direction="top">Edit</md-tooltip>
                  <md-icon>launch</md-icon>
                </md-button>
                            </div>
            </div>
                      </div>
        </div>
        <md-divider></md-divider>
      </div>
              <div class="data" flex layout-padding layout="row" layout-wrap layout-align="start start" ng-hide="fieldgrtest.collapsed">
                
             

           

                        </div>
  </section>
    

        <section class="fieldset fluid-row-container" flex="100">
      <div class="header">
        <div layout="row" layout-align="end center">
          <h3 flex ng-init="tipoRootController.initCollapsed('fieldgarraytest', '')">
            <a href="" ng-click="fieldgarraytest.collapsed = !fieldgarraytest.collapsed" class="plain" md-colors="{color: 'primary-700'}">
              <i class="fa" ng-class="{'fa-caret-down': !fieldgarraytest.collapsed , 'fa-caret-right': fieldgarraytest.collapsed}"></i>
               FieldGArrayTest
            </a>
          </h3>
          <div class="actions horizontal" layout="row" layout-align="center center">
                      <div layout="row">
              <div flex="none">
                            </div>
              <div flex="none">
                              <md-button class="m0" ng-click="tipoRootController.showDetail('fieldgarraytest')" aria-label="Edit">
                  <md-tooltip md-direction="top">Edit</md-tooltip>
                  <md-icon>launch</md-icon>
                </md-button>
                            </div>
            </div>
                      </div>
        </div>
        <md-divider></md-divider>
      </div>
              <div class="data" flex layout-padding layout="row" layout-wrap layout-align="start start" ng-hide="fieldgarraytest.collapsed">
                
             

           

                        </div>
  </section>
    

        <section class="fieldset fluid-row-container" flex="100">
      <div class="header">
        <div layout="row" layout-align="end center">
          <h3 flex ng-init="tipoRootController.initCollapsed('disabelexptest', '')">
            <a href="" ng-click="disabelexptest.collapsed = !disabelexptest.collapsed" class="plain" md-colors="{color: 'primary-700'}">
              <i class="fa" ng-class="{'fa-caret-down': !disabelexptest.collapsed , 'fa-caret-right': disabelexptest.collapsed}"></i>
               Disabelexptest
            </a>
          </h3>
          <div class="actions horizontal" layout="row" layout-align="center center">
                      <div layout="row">
              <div flex="none">
                            </div>
              <div flex="none">
                              <md-button class="m0" ng-click="tipoRootController.showDetail('disabelexptest')" aria-label="Edit">
                  <md-tooltip md-direction="top">Edit</md-tooltip>
                  <md-icon>launch</md-icon>
                </md-button>
                            </div>
            </div>
                      </div>
        </div>
        <md-divider></md-divider>
      </div>
              <div class="data" flex layout-padding layout="row" layout-wrap layout-align="start start" ng-hide="disabelexptest.collapsed">
                
             

           

                        </div>
  </section>
    

        <section class="fieldset fluid-row-container" flex="100">
      <div class="header">
        <div layout="row" layout-align="end center">
          <h3 flex ng-init="tipoRootController.initCollapsed('disabearrayexptest', '')">
            <a href="" ng-click="disabearrayexptest.collapsed = !disabearrayexptest.collapsed" class="plain" md-colors="{color: 'primary-700'}">
              <i class="fa" ng-class="{'fa-caret-down': !disabearrayexptest.collapsed , 'fa-caret-right': disabearrayexptest.collapsed}"></i>
               Disabearrayexptest
            </a>
          </h3>
          <div class="actions horizontal" layout="row" layout-align="center center">
                      <div layout="row">
              <div flex="none">
                            </div>
              <div flex="none">
                              <md-button class="m0" ng-click="tipoRootController.showDetail('disabearrayexptest')" aria-label="Edit">
                  <md-tooltip md-direction="top">Edit</md-tooltip>
                  <md-icon>launch</md-icon>
                </md-button>
                            </div>
            </div>
                      </div>
        </div>
        <md-divider></md-divider>
      </div>
              <div class="data" flex layout-padding layout="row" layout-wrap layout-align="start start" ng-hide="disabearrayexptest.collapsed">
                
             

           

                        </div>
  </section>
    

            
            
    </div>
  </section>
</div>

 
