@import '~swiper/dist/css/swiper.min.css';
.swiper-container {
  width: 600px;
  height: 300px;
}

.image-slider {
  max-width: 100%;
  width: auto;
  height: auto;
  max-height: 100%;
}

.swiper-slide {
  width: 100% !important;
  text-align: center;
}

.swiper-button-prev .swiper-button-next {
  background: none;
}

:host ::ng-deep .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background: #0000006e;
  opacity: 1;
  margin: 3px;
}