<div id="layout" layout="row" layout-align="center center">
  <div id="view-container" md-whiteframe="6" class="card">
    <h2 align="center">Welcome to {{ displayName }}</h2>
    <h3 align="center">Hey {{ customerName }}! Thank you for signing up to our awesome service. Your subscription ID is: {{ subscriptionId }}.
      Enter the confirmation code to get access to {{ displayName }}</h3>
    <div ng-cloak layout-gt-sm="row" layout="column">
      <div flex-gt-sm="100" flex>
        <md-content flex layout-padding>
          <form name="confirmationForm" data-ng-init="userController.initConfirmation()" data-ng-submit="userController.confirmRegistration(username, confirmationCode)">
            <md-input-container class="md-block">
              <label>Email</label>
              <input ng-model="username">
            </md-input-container>

            <md-input-container class="md-block" md-no-float>
              <label>Confirmation code</label>
              <input name="confirmationCode" ng-model="confirmationCode">
              <div ng-messages="confirmationForm.confirmationCode.$error" ng-if="lastError">
                <div ng-message="required">{{ lastError }}</div>
              </div>
            </md-input-container>
            
            <div ng-if="!userController.confirmationInProgress()">
              <md-button type="submit" class="md-primary md-raised">
                Confirm
              </md-button>
            </div>
            <div ng-if="userController.confirmationInProgress()">
              <md-button ng-disabled="true" class="md-raised md-primary">
                <i class="fa fa-refresh fa-spin"></i>
                Confirming...
              </md-button>
            </div>
          </form>
        </md-content>
      </div>
    </div>
  </div>
</div>