.select-box {
    background: white;
    border-radius: 3px;
    margin-bottom: 10px;
    margin: 5px;
    display: flex;
    box-shadow: 0px 1px 1px grey;
}
.select-box:hover {
    box-shadow: 0px 3px 1px grey;
}
:host ::ng-deep .mat-checkbox-inner-container, :host ::ng-deep .mat-radio-container  {
    display: none !important;
}
:host ::ng-deep .mat-radio-label-content {
    padding: 0px !important;
}
:host ::ng-deep .mat-checkbox-layout, :host ::ng-deep .mat-radio-label {
    width: 100% !important;
    padding: 10px;
}
:host ::ng-deep .mat-radio-disabled, :host ::ng-deep .mat-radio-disabled:hover,:host ::ng-deep .mat-checkbox-disabled, :host ::ng-deep .mat-checkbox-disabled:hover  {
    box-shadow: 0px 0px 0px grey !important;
}
:host ::ng-deep .mat-checkbox-disabled .mat-checkbox-label {
    color:#00000061 !important;
}

:host ::ng-deep .mat-radio-button.mat-radio-disabled.mat-radio-checked .mat-radio-label-content {
    color: white !important;
}
.view-area {
    padding: 7px;
    border-radius: 3px;
    margin: 3px;
    color: white;
    font-weight: bold;
}

.choice-img {
    width: 45px;
    height: 50px;
    margin-top: 10px;
    font-size: 35px;
    vertical-align: middle;
}