.crumbs li {
    display: inline-block;
    margin: 5px 5px;
    cursor: pointer;
}

.crumbs li:after {
    content: '';
    padding: 0 0.25em 0 0.5em;
    color: #999;
}

.crumbs li a {
    max-width:150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
