@image-base-path: '../_assets/images';
@fa-font-path:       '../_assets/fonts';

// Utility styles
.hidden {
  display: none !important;
}

.p-8{
  padding: 8px;
}

#body {
  .m0{
    margin: 0
  }
  .no-value{
    font-style: italic;
  }
  .pointer{
    cursor: pointer;
  }
  #layout {
    height: 99.5vh;
  }
  #logo {
    padding: 20px;
    height: 100px;
  }
  #footer{
    padding: 16px 32px;
    width: 100%;
    text-align: center;
    font-size: 0.9em;
    font-weight: 500;
  }
  .md-fab.main{
    position: fixed;
    bottom: 60px;
    right: 40px;
    z-index: 10;
  }

  .txt-gray{
    color: #999999;
  }

  .no-content{
    padding: 40px;
    text-align: center;
  }

  .tp-page-heading{
    .separator{
      margin-left: 2px;
      margin-right: 2px;
    }
  }

  .preformatted-text{
    white-space: pre-line;
  }

  .tp-navigation{
    md-list-item{
      padding-top: 0;
      padding-bottom: 0;
      &.active{
        border-left: 5px solid #aa4608;
        button{
          font-weight: bold;
          .md-list-item-inner{
            margin-left: -5px;
          }
          md-icon{
            color: #aa4608;
          }
        }
      }
    }
    button{
      padding-top: 0;
      padding-bottom: 0;
      font-size: 1.0em;
      font-weight: normal;
      width: 100%;
      text-transform: none;
      md-icon{
        margin-right: 15px;
        font-size: 20pt;
      }
    }
  }

  .fluid-row-container{
    .fluid-row{
      margin-bottom: 10px;
      .data{
        background: white;
        &.selected{
          background-color: #e7eef9;
        }
      }
    }
    .data{
      margin-top: 0;
      margin-bottom: 0;
      dl,dt,dd{
        margin: 0;
      }
      dt{
        color: #757575
      }
      dl.readonly{
        dt{
          padding-right: 15px;
          margin: 0;
        }
      }
      dl.edit{
        dt{
          margin: 0;
          margin-bottom: 5px;
          font-size: 0.9em;
          font-weight: 400;
        }
        margin-bottom: 10px;
      }
    }
    .actions{
      width: 50px;
      &.horizontal{
        width: auto;
      }
      &.bg{
        background: #FAFAFA;
      }
      .md-button{
        min-width: initial;
      }
    }
  }

  .tp-list{
    margin: 15px;
  }

  .tp-detail{
    &.page{
      margin-right: 25px;
      margin-left: 25px;
    }

    &.dialog{
      min-width: 600px;
    }

    h3{
      margin-top: 5px;
      margin-bottom: 5px;
    }

    .fieldset{
      padding: 8px;
      &.no-header{
        padding: 0;
      }
      .header{
      }
    }
  }

  md-chips.tp-chips{
    &.readonly{
      .md-chips{
        box-shadow: none;
        padding: 0;
      }
      md-chip{
        margin-top: 0;
      }
    }
  }

  .tp-field{
    md-input-container{
      margin: 0;
      width: 100%;
      &.auto-width{
        width: auto;
      }
      .md-errors-spacer{
        display: none;
      }
    }
    .md-datepicker-input-container{
      width: 80%;
      margin-top: 6px;
      margin-left: 0;
    }
    .md-datepicker-input{
      width: 100%;
    }
    button.md-datepicker-button{
      display: none;
    }
    .tp-switch{
      padding-top: 5px;
      md-switch{
        margin: 0;
      }
    }
    md-autocomplete button{
      display: none;
    }
    md-autocomplete-wrap{
      box-shadow: none;
    }
    md-select{
      margin: 0;
      width: 100%;
    }
    md-select-header{
      &.search{
        box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
        padding-left: 10.667px;
        height: 48px;
        cursor: pointer;
        position: relative;
        display: flex;
        align-items: center;
        width: auto;
        input{
          border: none;
          outline: none;
          height: 100%;
          width: 100%;
          padding: 0;
        }
      }
    }
    .multiple-list{
      color: rgba(0,0,0,0.87);
      div{
        padding-top: 3px;
        padding-bottom: 3px;
      }
    }
  }

  .tp-actions{
    .filler{
      margin-left: 25px;
    }
  }

  .tp-lookup-dialog{
    min-width: 300px;
  }

  md-dialog.fullscreen {
    min-height: 100%;
    min-width: 100%;
    border-radius: 0;
  }
  .tipo-toolbar{
    button{
      margin: 0;
    }
  }

  .ta-editor{
    &.ta-html{
      width: 100%;
    }
  }

}


.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  margin: 0 auto;
  position: relative;
  width: 800px;
}

.card-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}