@image-base-path: '../_assets/images';
@fa-font-path:       '../_assets/fonts';

// Utility styles
.hidden {
  display: none !important;
}

#body {
  .m0{
    margin: 0
  }
  a{
    color: initial;
    text-decoration: none;
    &.explicit{
      text-decoration: underline;
    }
  }
  .no-value{
    font-style: italic;
  }
  #layout {
    height: 99.5vh;
  }
  #logo {
    padding: 20px;
    img {
      width: 85%;
    }
  }
  #footer{
    padding: 16px 32px;
    width: 100%;
    text-align: center;
    font-size: 0.9em;
    font-weight: 500;
  }
  .md-fab.main{
    position: fixed;
    bottom: 60px;
    right: 40px;
    z-index: 10;
  }

  .txt-gray{
    color: #999999;
  }

  .no-content{
    padding: 40px;
    text-align: center;
  }

  .fluid-row-container{
    .fluid-row{
      margin-bottom: 10px;
      .data{
        background: white;
      }
    }
    .data{
      margin-top: 0;
      margin-bottom: 0;
      dl,dt,dd{
        margin: 0;
      }
      dt{
        color: #757575
      }
      dl.readonly{
        dt{
          padding-right: 15px;
          margin: 0;
        }
      }
      dl.edit{
        dt{
          margin: 0;
          margin-bottom: 5px;
          font-size: 0.9em;
        }
      }
    }
    .actions{
      width: 80px;
      &.bg{
        background: #FAFAFA;
      }
      .md-button{
        min-width: initial;
      }
    }
  }

  .tp-list{
    margin: 15px;
  }

  .tp-detail{
    &.page{
      max-width: 1400px;
      margin-left: 25px;
    }

    h3{
      margin-top: 5px;
      margin-bottom: 5px;
    }

    .fieldset{
      padding: 8px;
      .header{
      }
    }
  }

  md-chips.tp-chips{
    &.readonly{
      .md-chips{
        box-shadow: none;
        padding: 0;
      }
      md-chip{
        margin-top: 0;
      }
    }
  }

}

.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  margin: 0 auto;
  position: relative;
  width: 800px;
}

.card-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}