<div flex layout="column" ng-init="tipoRootController.initTiposData([{display_name: 'sampleapp',filter_expression:'publish_app_as_sample_app:true', selected: false, hidden_:true},])">
  <md-subheader class="md-primary" ng-if="!tipoRootController.hideActions" >
  <div layout="row" layout-align="space-between center" layout-align-xs="space-between start">
    <div layout="row" layout-xs="column" layout-sm="column" layout-align="center center" layout-align-xs="start start" layout-align-sm="start start" >
      <div class="md-title subheading heading-standard" md-colors="{color: 'primary-500'}">
        <span style="border-bottom: 3px solid;" md-colors="{borderBottomColor: 'accent-200'}">{{$root.activeItem.label}}</span></div>
      <tp:filters tipo-name="'TipoApp'" multi-select="" filter-label="''" tipo-filters="[{display_name: 'sampleapp',filter_expression:'publish_app_as_sample_app:true', selected: false, hidden_:true},]" ng-if="tipoRootController.hasTipos || tipoRootController.tipoFilters.currentExpression"/>
    </div>
    <div layout="row">
                <md-button class="md-primary md-fab md-mini" ng-click="tipoRootController.toogleSearch()">
        <md-icon>search</md-icon>
        <md-tooltip md-direction="top">Search</md-tooltip>
      </md-button>
              <md-button class="md-primary md-fab md-mini" ng-click="tipoRootController.refresh()"  >
        <md-icon>autorenew</md-icon>
        <md-tooltip md-direction="top">Refresh</md-tooltip>
      </md-button>
      <tp:actions mode="list" restricted-actions="tipoRootController.restricted_actions" tipo-name="'TipoApp'"  tipo-actions="[{tipo_action: 'ImportApp',display_name: 'Import App',highlight: $action.highlight,bulk_select: $action.bulk_select,single_select: $action.single_select,icon: 'import_export',visibility_expression: '' , client_dependency:{tipo_name: 'ImportAppCDF'}},]" tipos="tipoRootController.tipos" bulkedit="tipoRootController.bulkedit" singleedit="tipoRootController.singleedit"/>
    </div>
  </div>
  </md-subheader>
    <md-button tp:perm md-theme="reverse" class="md-fab md-primary main" aria-label="Create new"  ng-if="!tipoRootController.disablecreate" ng-click="tipoRootController.createNew()">
    <md-tooltip md-direction="left">Create new</md-tooltip>
    <md-icon>add</md-icon>
  </md-button>
      <div ng-if="!tipoRootController.hasTipos" flex layout="row" layout-align="center center">
    <tp-no-content message="No records found" />
  </div>
      <div ng-if="tipoRootController.hasTipos"  id="search" layout="column">
      <md-input-container flex class="tp-list" ng-if="tipoRootController.showsearch">
      <label>&nbsp;</label>
      <input ng-model="tipoRootController.searchText" class="searchbar" placeholder="enter search" ng-keyup="$event.keyCode == 13 ? tipoRootController.search() : null">
    </md-input-container>
                  <div  show-gt-md show-md show-sm show-xs>
        
 
 
<div class="tp-list">
  <md-virtual-repeat-container  ng-controller="TipoAppController as controller" update-size>
    <div layout="row" layout-align="center stretch" layout-margin layout-wrap id="tipoapp-app-list" >
      <md-card layout="column" layout-align="center center" layout-padding ng-click="tipoRootController.createNew(); $event.stopPropagation();" style="background-image: url('_assets/images/white-pattern-png.png');" md-colors="{backgroundColor: 'primary-500-0.32',color: 'grey-900'}">
        <div layout="column" layout-align="start center">
          <md-icon class="material-icons" style="border-radius: 50%;background: white;width: 100px;height: 100px;line-height: 100px;text-align: center;opacity: 0.7;font-size: 50px;">add</md-icon>
          <span class="md-headline" layout-padding>New Application</span>
        </div>
      </md-card>
      <md-card tp:perm md-virtual-repeat="tipo in controller.infiniteItems"  md-on-demand  layout="column" layout-align="start stretch" ng-click="!tipo.disableclick && controller.launch(tipo); $event.stopPropagation();" ng-mouseover="tipo.showactionbar = true;" ng-mouseleave="tipo.showactionbar = false;" >
        
        
        <div layout="row" layout-align="space-between center" class="app-top" style="background-image: url('_assets/images/white-pattern-png.png');" layout-padding md-colors="{backgroundColor: 'primary-500-0.32',color: 'grey-900'}">
          <div layout="row" layout-align="start center" flex="80">
           <!--  <md-icon ng-if="tipo.icon" class="app-icon">{{tipo.icon}}</md-icon>
            <md-icon ng-if="!tipo.icon"  class="app-icon">apps</md-icon> -->
            <span class="md-headline">{{tipo.app_name.substring(0,10)}}{{tipo.app_name.substring(10) !== ""? "...": ""}}</span>
          </div>
          <!-- <img ng-src="_assets/images/logo_trans.png" style="width: 60px;" flex="20"/> -->
          <!-- <div class="app-logo">
            <img ng-src="_assets/images/logos/{{tipo.logo}}" />
          </div> -->
        </div>
        <div layout="row">
          <div class="md-subhead" flex style="min-height: 100px;margin-left: 20px;padding-top: 20px;">
            {{tipo.app_description.substring(0,72)}}{{tipo.app_description && tipo.app_description.substring(72) !== ""? "...": ""}}</div>
          <action-bar class="action-bar" flex="none" layout="column" layout-align="center end" ng-if="tipo.showactionbar">
            <md-button ng-click="tipoRootController.clone(tipo); $event.stopPropagation();" aria-label="Copy" class="icon-button">
              <md-tooltip md-direction="right">Copy Application</md-tooltip>
              <!-- <md-icon>content_copy</md-icon> -->
              <md-icon md-svg-src="_assets/images/copy.svg" ></md-icon>
            </md-button>
            <md-button ng-click="controller.launch(tipo); $event.stopPropagation();" aria-label="Launch" class="icon-button">
              <md-tooltip md-direction="right">Launch Application</md-tooltip>
              <!-- <md-icon>launch</md-icon> -->
              <md-icon md-svg-src="_assets/images/launch.svg" ></md-icon>
            </md-button>
            <md-button ng-click="controller.delete(tipo); $event.stopPropagation();" aria-label="Launch" class="icon-button">
              <md-tooltip md-direction="right">Delete Application</md-tooltip>
              <!-- <md-icon>delete</md-icon> -->
              <md-icon md-svg-src="_assets/images/delete.svg" ></md-icon>
            </md-button>
          </action-bar>
        </div>
      </md-card>
    </div>
  </md-virtual-repeat-container>
</div>

      </div>
      </div>
  <div ng-hide="!tipoRootController.loading">
    <img class="tp-list" ng-src="_assets/images/default.gif" style="width: 50px;height: 50px;">
  </div>
</div>
