<div layout="column" layout-align="start end">
<!--   <md-switch ng-if="mode === 'list' && actions.length > 0" ng-click="updateBulkEdit()" md-invert aria-label="Bulk Edit Switch">
    Bulk Actions
  </md-switch> -->
  <div ng-if="(mode === 'list') || mode === 'view' " layout="row" layout-align="center center">
    <md-button ng-repeat="action in actions | orderBy:['highlight' , true] | limitTo: noOfActions" ng-click="performAction(action)" class="md-raised md-primary">
      {{action.label}}
    </md-button>
    <md-menu ng-if="actions.length > noOfActions">
          <md-button class="md-icon-button" ng-click="openMenu($mdOpenMenu,$event)">
            <md-icon md-menu-origin>more_vert</md-icon>
          </md-button>
          <md-menu-content width="4">
            <md-menu-item ng-repeat="action in actions | orderBy:['highlight' , true] | limitTo: actions.length: noOfActions  ">
              <md-button ng-click="performAction(action)">
                {{action.label}}
              </md-button>
            </md-menu-item>
          </md-menu-content>
    </md-menu>
  </div>
  <div ng-if="bulkedit">
    <md-button ng-click="performAction(selectedAction)" class="md-raised md-primary">
      Process
    </md-button>
    <md-button ng-click="updateBulkEdit()" class="md-raised md-primary">
      Cancel
    </md-button>
  </div>
</div>