<div layout="column" layout-align="start end">
<!--   <md-switch ng-if="mode === 'list' && actions.length > 0" ng-click="updateBulkEdit()" md-invert aria-label="Bulk Edit Switch">
    Bulk Actions
  </md-switch> -->
  <div ng-if="(mode === 'list') || mode === 'view' " layout="row" layout-align="center center">
    <md-button ng-repeat="action in actions | filter:{highlight: true}" aria-label="action.label" ng-click="performAction(action)" ng-class="{'md-fab md-mini': action.icon}" class="md-raised md-primary">
    <md-icon ng-if="action.icon">{{action.icon | limitTo : 20 : 3}}</md-icon>
    <md-tooltip ng-if="action.icon" md-direction="left">{{action.label}}</md-tooltip>
      <span ng-if="!action.icon">{{action.label}}</span>
    </md-button>
    <md-menu ng-if="actions.length > 0">
          <md-button class="md-icon-button" ng-click="openMenu($mdOpenMenu,$event)">
            <md-icon md-menu-origin>more_vert</md-icon>
          </md-button>
          <md-menu-content width="4">
            <md-menu-item ng-repeat="action in actions | filter:{highlight: '!true'}">
              <md-button ng-click="performAction(action)">
              <md-icon ng-if="action.icon">{{action.icon | limitTo : 20 : 3}}</md-icon>
              {{action.label}}
              </md-button>
            </md-menu-item>
          </md-menu-content>
    </md-menu>
  </div>
  <div ng-if="bulkedit">
    <md-button ng-click="performAction(selectedAction)" class="md-raised md-primary">
      Process
    </md-button>
    <md-button ng-click="updateBulkEdit()" class="md-raised md-primary">
      Cancel
    </md-button>
  </div>
</div>