<md-dialog ng-cloak ng-class="{'fullscreen': tipoRootController.fullscreen}">
  <md-toolbar class="tipo-toolbar">
    <div class="md-toolbar-tools">
      <h2>{{tipoRootController.tipoDefinition.tipo_meta.display_name}}</h2>
      <span flex></span>
      <md-button class="dialog-buttons" ng-click="tipoRootController.maximize()" ng-if="!tipoRootController.fullscreen">
        <md-icon aria-label="Maximize">flip_to_back</md-icon>
        <div>Resize</div>
      </md-button>
      <md-button class="dialog-buttons" ng-click="tipoRootController.restore()" ng-if="tipoRootController.fullscreen">
        <md-icon aria-label="Restore size">flip_to_front</md-icon>
        <div>Resize</div>
      </md-button>
      <label for="tipoform-submit" class="dialog-buttons md-button" md-ink-ripple="#e0e0e0">
          <md-icon>done</md-icon>
          <div>{{tipoRootController.submit_label}}</div>
      </label>
    </label>
      <md-button class="dialog-buttons" ng-click="tipoRootController.cancel()">
        <md-icon aria-label="Close dialog">close</md-icon>
        <div>Cancel</div>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <div class="tp-detail dialog">
      <ng-include src="tipoRootController.createUrl"/>
    </div>
  </md-dialog-content>
</md-dialog>