<div layout="column" layout-align="start end">
<!--   <md-switch ng-if="mode === 'list' && actions.length > 0" ng-click="updateBulkEdit()" md-invert aria-label="Bulk Edit Switch">
    Bulk Actions
  </md-switch> -->
  <div ng-if="(mode === 'list') || mode === 'view' " layout="row" layout-align="center center" layout-align-xs="end start" layout-wrap>
    <div ng-if="bulkedit || singleedit">
      <md-button ng-click="selectall()" class="md-fab md-mini md-primary">
        <md-tooltip md-direction="top">{{tooltip}}</md-tooltip>
        <md-icon>{{icon}}</md-icon>
      </md-button>
      <md-button md-theme="reverse" ng-click="performAction(selectedAction)" class="md-fab md-mini md-primary">
        <md-tooltip md-direction="top">Process</md-tooltip>
        <md-icon>play_arrow</md-icon>
      </md-button>
      <md-button ng-click="updateBulkEdit(selectedAction)" class="md-fab md-mini md-primary">
        <md-tooltip md-direction="top">Cancel</md-tooltip>
        <md-icon>close</md-icon>
      </md-button>
    </div>
    <md-button hide-xs md-theme="reverse" ng-repeat="action in actions | filter:{highlight: true}" aria-label="action.label" ng-click="performAction(action)" ng-class="{'md-fab md-mini': action.icon}" class="md-raised md-primary" ng-if="!bulkedit && (action.visibility_expression || visibilityExpression)">
    <md-icon ng-if="action.icon">{{action.icon}}</md-icon>
    <md-tooltip ng-if="action.icon" md-direction="top">{{action.label}}</md-tooltip>
      <span ng-if="!action.icon">{{action.label}}</span>
    </md-button>
<!--     <md-menu hide-xs ng-if="(actions | filter:{highlight: '!true'}).length > 0 && !bulkedit">
      <md-button class="md-icon-button" ng-click="openMenu($mdOpenMenu,$event)">
        <md-icon md-menu-origin>more_vert</md-icon>
      </md-button>
      <md-menu-content width="4">
        <md-menu-item ng-repeat="action in actions | filter:{highlight: '!true'}">
          <md-button ng-click="performAction(action)">
          <md-icon  md-theme="reverse" class="md-primary" ng-if="action.icon">{{action.icon}}</md-icon>
          {{action.label}}
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu> -->
    <md-button aria-label="menu" ng-click="triggerdeskActions()" hide-xs ng-if="(actions | filter:{highlight: '!true'}).length > 0 && !bulkedit" class="md-icon-button">
      <md-icon>more_vert</md-icon>
    </md-button>
    <md-fab-speed-dial hide-xs md-open="deskaction.isOpen" md-direction="down" ng-if="(actions | filter:{highlight: '!true'}).length > 0 && !bulkedit" class="md-scale md-fab-top-right">
        <md-fab-trigger>
          <md-button id="actiondesk" aria-label="menu" class="md-fab md-warn" style="display:none;">
            <md-icon>dns</md-icon>
          </md-button>
        </md-fab-trigger>
        <md-fab-actions>
          <md-button md-theme="reverse" class="md-fab md-primary md-raised md-mini" ng-repeat="action in actions | filter:{highlight: '!true'}" ng-click="performAction(action)">
            <md-icon ng-if="action.icon">{{action.icon}}</md-icon>
            <md-icon ng-if="!action.icon">arrow_back</md-icon>
            <md-tooltip md-direction="left" md-visible="tooltipDesk">{{action.label}}</md-tooltip>
          </md-button>
        </md-fab-actions>
    </md-fab-speed-dial>
    <md-button hide-gt-xs aria-label="menu" ng-if="actions.length > 0" ng-click="triggeractions()" class="md-primary md-fab md-mini">
      <md-icon>dns</md-icon>
    </md-button>
    <md-fab-speed-dial hide-gt-xs md-open="mobaction.isOpen" md-direction="down" class="md-scale md-fab-top-right">
        <md-fab-trigger>
          <md-button id="actionmob" aria-label="menu" class="md-fab md-warn" style="display:none;">
            <md-icon>dns</md-icon>
          </md-button>
        </md-fab-trigger>
        <md-fab-actions>
          <md-button md-theme="reverse" class="md-fab md-primary md-raised md-mini" ng-repeat="action in actions" ng-click="performAction(action)">
            <md-icon ng-if="action.icon">{{action.icon}}</md-icon>
            <md-icon ng-if="!action.icon">arrow_back</md-icon>
            <md-tooltip md-direction="left" md-visible="tooltip">{{action.label}}</md-tooltip>
          </md-button>
        </md-fab-actions>
    </md-fab-speed-dial>
  </div>
  <!-- <div ng-if="bulkedit">
    <md-button ng-click="selectall()" class="md-fab md-mini md-primary">
      <md-tooltip md-direction="top">Select All</md-tooltip>
      <md-icon>check_box</md-icon>
    </md-button>
    <md-button ng-click="deselectall()" class="md-fab md-mini md-primary">
      <md-tooltip md-direction="top">Deselect All</md-tooltip>
      <md-icon>check_box_outline_blank</md-icon>
    </md-button>
    <md-button ng-click="performAction(selectedAction)" class="md-fab md-mini md-primary">
      <md-tooltip md-direction="top">Process</md-tooltip>
      <md-icon>play_arrow</md-icon>
    </md-button>
    <md-button ng-click="updateBulkEdit()" class="md-fab md-mini md-primary">
      <md-tooltip md-direction="top">Cancel</md-tooltip>
      <md-icon>close</md-icon>
    </md-button>
  </div> -->
</div>