<div class="tp-field">
  <div layout="row" layout-wrap ng-if=" mode === 'edit' ">
   <md-card>
      <md-card-content>
	    <md-button ng-repeat="color in colors" md-colors="{background: '{{color}}'}" md-colors-watch="false"
	               ng-disabled="primary === color && !isPrimary" ng-click="selectTheme(color)" flex-gt-md="15" flex="30" class="palette">
	      {{ color }}
	    </md-button>
	  </md-card-content>
  	</md-card>
  </div>
  <md-card>
    <md-card-content>
	  <div layout="column">
	  <div md-colors="{background: '{{primary}}-500'}" >
		  <div class="md-toolbar-tools docs-toolbar-tools" tabIndex="-1" layout-wrap>
		    <!-- img src="public/assets/images/logo.png" hide-xs></img-->
		    <span flex></span>
		    <md-button>Home</md-button>
		    <md-button>Settings</md-button>
		  </div>
	  </div>
	   <div layout="row" style="height:200px; margin:1px; text-align:center;">
		   <div layout="column" md-colors="{background: '{{primary}}-50'}" flex-xs="50" flex="30" style="height:200px; padding-left:10px; margin:1px; align-content:top; text-align:center;">
	        <md-button layout="row" layout-align="start center">
	          <div class="md-list-item-inner">
	            <md-icon>person</md-icon>
	            <span>Customer</span>
	          </div>
	        </md-button>
	        <md-button layout="row" layout-align="start center" >
	          <div class="md-list-item-inner">
	            <md-icon>assignment</md-icon>
	            <span>Tasks</span>
	          </div>
	        </md-button>
	        <md-button layout="row" layout-align="start center" >
	          <div class="md-list-item-inner">
	            <md-icon>explore</md-icon>
	            <span>Navigation</span>
	          </div>
	        </md-button>
	        <md-button layout="row" layout-align="start center">
	          <div class="md-list-item-inner">
	            <md-icon>event</md-icon>
	            <span>Events</span>
	          </div>
	        </md-button>
	        
		  </div>
		   <div layout="column" flex-xs="50" flex="70" style="height:200px; margin:1px; align-items:center; align-content:center; text-align:center;">
		      <div layout="row">
		      	<md-button class="md-primary">Cancel</md-button>
		      </div>
		      <div layout="row">
	          <md-button md-theme="reverse" class="md-raised md-primary" style="background-color: {{getColor(accent + '-500')}}" >Save</md-button>
		      </div>
		      <div layout="row">
				  <md-button style="z-index:1" class="md-fab md-primary" md-colors="{background: '{{accent}}-500'}" >
				    <md-icon>create</md-icon>
				  </md-button>	      
		      </div>
		        
		  </div>
	   </div>
	</div>
	</md-card-content>
  </md-card>
</div>