<div class="tp-field">
  <div layout="row" layout-wrap ng-if=" mode === 'edit' ">
    <md-button ng-repeat="color in colors" md-colors="{background: '{{color}}'}" md-colors-watch="false"
               ng-disabled="primary === color && !isPrimary" ng-click="selectTheme(color)" flex-gt-md="15" flex="30" class="palette">
      {{ color }}
    </md-button>
  </div>
   <md-card>
      <md-card-title>
        <md-card-title-text>
          <span></span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
  <div layout="column">
  <div md-colors="{background: '{{primary}}-500'}" style="height:120px; margin:1px; text-align:center;">
     <h2>Primary</h2>
  </div>
  <!--div md-colors="{background: '{{primary}}-700'}" layout="row" layout-align="space-between end">
    <span>700</span>
    <span>{{getColor(primary + '-700')}}</span>
  </div>
  <div md-colors="{background: '{{primary}}-800'}" layout="row" layout-align="space-between end">
    <span>800</span>
    <span>{{getColor(primary + '-800')}}</span>
  </div-->
   <div md-colors="{background: '{{accent}}-A200'}" style="height:120px; margin:1px; text-align:center;">
   <h2>Secondary</h2>
  </div>
</div>
</md-card-content>
</md-card>
</div>