<div class="tp-file">
  <div ng-if="isEdit">
    <div ng-if="isSingle">
      <div layout="row" layout-align="start center">
        <div flex="none" flex-order="1">
              <md-icon>folder</md-icon>
        </div>
        <span flex-order="1" ng-if="isTargetSet">{{prependTarget}}</span>
        <input type="text" ng-model="singlePath.value" aria-label="field.display_name" flex-order="2" ng-if="!(isTargetSet && isTargetFile)"
          ng-change="onSinglePathChange()">
        <span flex flex-order="3"></span>
        <div flex="none" flex-order="4" ng-if="!readOnly">
          <md-button class="md-icon-button" aria-label="Upload" ng-click="openContentDialog()">
            <md-tooltip md-direction="bottom">Upload Content</md-tooltip>
            <md-icon>attachment</md-icon>
          </md-button>
        </div>
        <div flex="none" flex-order="5" ng-if="!readOnly">
            <md-button class="md-icon-button" aria-label="Delete" ng-click="removeSinglePathEntry()">
              <md-tooltip md-direction="bottom">Remove Entry</md-tooltip>
              <md-icon>delete</md-icon>
            </md-button>
          </div>
      </div>
    </div>
    <div ng-if="isArray">
      <div layout="column">
        <div md-no-float layout="row" layout-align="start center">
          <div flex="none" flex-order="1">
              <md-icon>folder</md-icon>
        </div>
          <span flex-order="1" ng-if="isTargetSet">{{prependTarget}}</span>
          <input type="text" ng-disabled="true" ng-model="tempPath.value" aria-label="field.display_name" flex-order="2">
          <div flex="none" flex-order="3" ng-if="!readOnly">
            <md-button class="md-icon-button" aria-label="Add" ng-click="addMultiPathEntry()">
              <md-tooltip md-direction="bottom">Add Entry</md-tooltip>
              <md-icon>add</md-icon>
            </md-button>
          </div>
        </div>
        <div layout="row" class="multi-file-row" layout-align="start center" ng-if="!readOnly" ng-repeat="path in multiplePaths" ng-if="!path.deleted">
          <span flex-order="1" flex>{{prependTarget}}{{path.value}}</span>
          <div flex="none" flex-order="3">
            <md-button class="md-icon-button" aria-label="Delete" ng-click="removeMultiPathEntry($index)">
              <md-tooltip md-direction="bottom">Remove Entry</md-tooltip>
              <md-icon>delete</md-icon>
            </md-button>
          </div>
          <div flex="none" flex-order="4">
            <md-button class="md-icon-button" aria-label="Upload" flex-order="4" ng-click="openContentDialog($index)">
              <md-tooltip md-direction="bottom">Upload Content</md-tooltip>
              <md-icon>attachment</md-icon>
            </md-button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div ng-if="!isEdit">
    <div ng-if="isSingle">
      <div layout="row" layout-align="start center">
        <a ng-if="singlePath" href="g/{{rootFolder}}/{{prependTarget}}{{singlePath.value}}" download="{{singlePath.value}}"><span flex-order="1" flex>{{prependTarget}}{{singlePath.value}}</span></a>
        <div flex-order="2" flex="none">
          <md-button class="md-icon-button" aria-label="Preview" ng-click="openViewFile(singlePath)" ng-if="singlePath.fileType === 'application/json' || singlePath.fileType === 'application/pdf' || singlePath.fileType === 'application/java' || singlePath.tagType === 'image' || singlePath.fileType === 'text/javascript'">
            <md-tooltip md-direction="bottom">Preview</md-tooltip>
            <md-icon>remove_red_eye</md-icon>
          </md-button>
        </div>
      </div>
    </div>
    <div ng-if="isArray">
      <div layout="column">
        <div layout="row" class="multi-file-row" layout-align="start center" ng-repeat="path in multiplePaths">
          <a href="g/{{rootFolder}}/{{prependTarget}}{{path.value}}" download="{{path.value}}"><span flex-order="1" flex>{{prependTarget}}{{path.value}}</span></a>
          <div flex-order="2" flex="none">
            <md-button class="md-icon-button" aria-label="Preview" ng-click="openViewFile(path)" ng-if="path.fileType === 'application/json' || path.fileType === 'application/pdf' || path.fileType === 'application/java' || path.type === 'image' || path.fileType === 'text/javascript'">
              <md-tooltip md-direction="bottom">Preview</md-tooltip>
              <md-icon>remove_red_eye</md-icon>
            </md-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>