<md-dialog ng-cloak ng-class="{'fullscreen': fullscreen}" class="tp-file-content">
  <md-toolbar class="tipo-toolbar">
    <div class="md-toolbar-tools">
      <h2>Content Upload</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon aria-label="Close dialog">close</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <div cg-busy="progress" class="fluid-row-container">
    <md-dialog-content layout-padding>
    <div class="tp-detail dialog data" layout-padding>
      <form name="uploadForm" layout="column">
        <div class="tp-field">
          <lf-ng-md-file-input name="files" lf-files="content" lf-required lf-maxcount="5" lf-filesize="{{fileSize}}"
            lf-totalsize="20MB" drag  preview lf-caption="{{finalPath.path}}" lf-placeholder="{{fixedPrefix || 'Select a file'}}" ng-hide="parent.isArray"/>

          <lf-ng-md-file-input name="files" lf-files="content" lf-required lf-maxcount="5" lf-filesize="{{fileSize}}"
            lf-totalsize="20MB" drag multiple preview lf-caption="{{finalPath.path}}" lf-placeholder="{{fixedPrefix || 'Select a file'}}" ng-hide="!parent.isArray" />  
          <div class="error" ng-show="lastError">
            <i class="fa fa-exclamation-circle fa-fw"></i> {{lastError}}
          </div>
        </div>
      </form>
    </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancel()">
        Cancel
      </md-button>
      <md-button md-theme="reverse" class="md-raised md-primary" ng-click="upload();" ng-if="uploadStatus === 'not_started'">
        Start Upload
      </md-button>
      <md-button disabled md-theme="reverse" class="md-raised md-primary"  ng-if="uploadStatus === 'in_progress'">
        <i class="fa fa-refresh fa-spin fa-fw"></i> Uploading...
      </md-button>
      <md-button md-theme="reverse" class="md-raised md-primary" ng-click="complete()" ng-if="uploadStatus === 'completed'">
        Done
      </md-button>
    </md-dialog-actions>
  </div>
</md-dialog>