<div>
  <em>Under development</em>
  <!--<div layout="row" layout-align="start center">
    <span flex-order="1">public/images/logo/xxx/</span>
    <input type="text" ng-model="field._value.key" aria-label="field.display_name" flex-order="2">
    <md-button class="md-icon-button" aria-label="Browse" flex-order="3">
      <md-icon>attachment</md-icon>
    </md-button>
  </div>-->
  <!--<div layout="column">
    <div layout="row" layout-align="start center">
      <span flex-order="1">public/images/logo/xxx/</span>
      <md-button class="md-icon-button" aria-label="Browse" flex-order="3">
        <md-icon>add</md-icon>
      </md-button>
    </div>
    <md-input-container md-no-float layout="row" layout-align="start center">
      <input type="text" ng-model="p" aria-label="field.display_name" flex-order="2">
      <md-button class="md-icon-button" aria-label="Browse" flex-order="3">
        <md-icon>delete</md-icon>
      </md-button>
      <md-button class="md-icon-button" aria-label="Browse" flex-order="3">
        <md-icon>attachment</md-icon>
      </md-button>
    </md-input-container>
    <md-input-container md-no-float layout="row" layout-align="start center">
      <input type="text" ng-model="q" aria-label="field.display_name" flex-order="2">
      <md-button class="md-icon-button" aria-label="Browse" flex-order="3">
        <md-icon>delete</md-icon>
      </md-button>
      <md-button class="md-icon-button" aria-label="Browse" flex-order="3">
        <md-icon>attachment</md-icon>
      </md-button>
    </md-input-container>
  </div>-->
</div>