<md-dialog ng-cloak aria-label="Lookup" ng-class="{'fullscreen': fullscreen}" style="width: 80%;">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Filters</h2>
            <span flex></span>
            <md-button class="dialog-buttons" ng-click="finish()">
                <md-icon aria-label="Save">done</md-icon>
                <div>Done</div>
            </md-button>
            <md-button class="dialog-buttons" ng-click="cancel()">
                <md-icon aria-label="Close dialog">close</md-icon>
                <div>Cancel</div>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content tp-field tp-lookup-dialog" layout="center center" layout-padding>
            <md-list ng-cloak class="fullwidth">
                <div ng-if="tipoCustomFilters.length > 0">
                    <div>
                        <md-subheader class="md-no-sticky">{{filterLabel || 'Custom Filters'}}</md-subheader>
                        <md-list-item ng-repeat="filter in tipoCustomFilters">
                            <p> {{ filter.display_name }}</p>
                            <md-checkbox class="md-secondary" ng-model="filter.selected" ng-click="addCustomToExpression(filter)"></md-checkbox>
                        </md-list-item>
                        <md-divider></md-divider>
                    </div>
                </div>
                <div ng-repeat="filter in fieldFilters">
                    <div>
                        <md-subheader md-colors="{color: 'primary-700'}" class="bg-lightgray md-no-sticky">{{filter.label}}</md-subheader>
                        <md-list-item ng-repeat="value in filter.values" ng-if="filter.type === 'text'">
                            <p> {{ value.key }} <span md-colors="{background: 'accent-500'}" style="border-radius:50%" ><span class="filter-count">{{value.doc_count}}</span></span> </p>
                            <md-checkbox class="md-secondary" ng-model="value.selected" ng-click="addToExpression(value,filter)"></md-checkbox>
                        </md-list-item>
                        <md-list-item ng-if="filter.type === 'integer' && filter.min !== filter.max">
                            <tp:range-slider ng-model="filter.range" min="filter.min" max="filter.max" class="fullwidth tp-range-slider tp-range-tooltip" ng-change="addRangeToExpression(filter)" />
                        </md-list-item>
                        <md-list-item ng-if="filter.type === 'date_time' && filter.min !== filter.max">
                            <input tp:date-picker ng-model="filter.range" fieldvalue="filter.range" fp-on-setup="tipoRootController.datePostSetup(fpItem,filter.range)" fp-opts="{'mode': 'range', 'dateFormat': 'Z','enable':[{'from': filter.min - 86400000, 'to': filter.max + 86400000}]}" ng-change="addRangeToExpression(filter)" class="fullwidth">
                        </md-list-item>
                        <md-list-item ng-if="filter.type === 'integer' && filter.min === filter.max">
                            All Values are {{filter.min}}
                        </md-list-item>
                        <md-divider></md-divider>
                    </div>
                </div>
        </div>
    </md-dialog-content>
</md-dialog>