<div class="tp-field">
  <div layout="row" layout-wrap layout-align="start center" hide-sm hide-xs>
    <md-button ng-repeat="each in filters" ng-click="applyFilter(each)" ng-class="{'md-primary md-raised': each.selected}">
      {{ each.name }}
    </md-button>
  </div>
  <md-menu md-offset="0 -7" hide-gt-sm>
    <md-button aria-label="Open demo menu" class="md-primary" ng-click="$mdOpenMenu()">
        Filters
    </md-button>
    <md-menu-content width="4">
      <md-menu-item ng-repeat="each in filters">
        <md-button ng-click="applyFilter(each)" class="md-primary" ng-class="{'md-raised': each.selected}">
          {{each.name}} 
        </md-button>
      </md-menu-item>
    </md-menu-content>
  </md-menu>
</div>