<div>
  <span ng-if="hasValue">
    <span ng-if="isSingle && isSelfField">
      <span ng-switch="field.field_type">
        <span ng-switch-when="date_time">{{field._value.label}}</span>
        <span ng-switch-when="longstring" class="preformatted-text">{{field._value.label}}</span>
        <span ng-switch-when="richstring">
          <div ng-bind-html="formattedText"></div>
        </span>
        <span ng-switch-when="s3explorer">
          <tp:s3-fileselector />
        </span>
        <span ng-switch-default>{{field._value.label}}</span>
      </span>
    </span>
    <span ng-if="isSingle && isTipoRef">
      <a class="explicit" ui-sref="tipoView({tipo_name: field._ui.relatedTipo, tipo_id: field._value.key})" ui-sref-opts="{reload: 'tipoView'}">{{field._value.label}}</a>
    </span>
    <span ng-if="isArray && isSelfField">
      <md-chips ng-model="field._value" readonly="'true'" class="tp-chips readonly">
        <md-chip-template>
          <span>{{$chip.label}}</span>
        </md-chip-template>
      </md-chips>
    </span>
    <span ng-if="isArray && isTipoRef">
      <md-chips ng-model="field._value" readonly="'true'" class="tp-chips readonly">
        <md-chip-template>
          <a class="explicit" ui-sref="tipoView({tipo_name: field._ui.relatedTipo, tipo_id: $schip.key})">{{$chip.label}}</a>
        </md-chip-template>
      </md-chips>
    </span>
  </span>
  <span ng-if="!hasValue" class="no-value">
    -Not available-
  </span>
</div>