<section class="fieldset fluid-row-container" flex="100">
  <div class="header">
    <div layout="row" layout-align="end center">
      <h3 flex>
        <a href="" ng-click="group._ui.collapsed = !group._ui.collapsed">
          <i class="fa" ng-class="{'fa-caret-down': !group._ui.collapsed , 'fa-caret-right': group._ui.collapsed}"></i>
           {{group.display_name}}
        </a>
      </h3>
      <div class="actions horizontal" layout="row" layout-align="center center">
        <div ng-if="!group._ui.isArray" layout="row">
          <div flex="none">
            <md-button class="m0"  ng-if="!(mode === 'edit') && !group.disable_expansion" ng-click="showDetail()" aria-label="Details">
              <md-tooltip md-direction="top">Details</md-tooltip>
              <md-icon>fullscreen</md-icon>
            </md-button>
          </div>
          <div flex="none">
            <md-button class="m0"  ng-if="mode === 'edit' && group._ui.isTipoRelationship" ng-click="lookupTipo()" aria-label="Lookup">
              <md-tooltip md-direction="top">Copy from existing</md-tooltip>
              <md-icon>search</md-icon>
            </md-button>
          </div>
          <div flex="none">
            <md-button class="m0"  ng-if="mode === 'edit' && !group.disable_expansion" ng-click="showDetail()" aria-label="Edit">
              <md-tooltip md-direction="top">Edit</md-tooltip>
              <md-icon>edit</md-icon>
            </md-button>
          </div>
        </div>
        <div ng-if="group._ui.isArray">
          <div flex="none">
            <md-button class="m0"  ng-if="mode === 'edit'" ng-click="generateItem(group)" aria-label="New">
              <md-tooltip md-direction="top">New</md-tooltip>
              <md-icon>add</md-icon>
            </md-button>
          </div>
        </div>
      </div>
    </div>
    <md-divider></md-divider>
  </div>
  <div class="data" flex layout-padding layout="row" layout-wrap layout-align="start start" ng-hide="group._ui.collapsed" ng-if="!group._ui.isArray">
    <tp:field-container mode="{{mode}}" field="groupField" ng-repeat="groupField in group.tipo_fields" ng-if="!groupField.hidden && !groupField._ui.isGroup && (mode === 'edit' || groupField._value)"/>
  </div>
  <div class="data" style="margin-top: 10px;" ng-hide="group._ui.collapsed" ng-if="group._ui.isArray">
    <h3 class="md-subhead no-value" ng-if="!(group._items | filter: {_ui: {deleted: '!'}}).length">
      -No records available-
    </h3>
    <div layout="row" ng-repeat="groupItem in group._items | filter: {_ui: {deleted: '!'}}" md-whiteframe="2" class="fluid-row">
      <div flex layout="row" ng-click="!(mode === 'edit') && !group.disable_expansion && showDetail(groupItem)" layout-padding layout-wrap layout-align="start start" class="data">
        <tp:field-container mode="{{mode}}" field="itemField" ng-repeat="itemField in groupItem.tipo_fields" ng-if="itemField.short_display && !itemField.hidden && (mode === 'edit' || itemField._value)" />
      </div>
      <div flex="none" layout="column" layout-align="center center" class="actions bg" ng-if="!(mode === 'edit') && !group.disable_expansion">
        <md-button ng-click="showDetail(groupItem)" ng-if="!(mode === 'edit') && !group.disable_expansion" aria-label="View details">
          <md-tooltip md-direction="left">Details</md-tooltip>
          <md-icon>fullscreen</md-icon>
        </md-button>
      </div>
      <div flex="none" layout="column" layout-align="center center" class="actions bg" ng-if="mode === 'edit'">
        <div flex="none">
          <md-button ng-if="group._ui.isTipoRelationship" ng-click="lookupTipo(groupItem)" aria-label="Lookup">
            <md-tooltip md-direction="left">Copy from existing</md-tooltip>
            <md-icon>search</md-icon>
          </md-button>
        </div>
        <md-button ng-click="showDetail(groupItem)" ng-if="!group.disable_expansion" aria-label="Edit" class="md-icon-button">
          <md-tooltip md-direction="left">Edit</md-tooltip>
          <md-icon>edit</md-icon>
        </md-button>
        <md-button ng-click="deleteItem(groupItem, group)" aria-label="Delete" class="md-icon-button">
          <md-tooltip md-direction="left">Delete</md-tooltip>
          <md-icon>delete</md-icon>
        </md-button>
        <md-button ng-click="cloneItem(groupItem, group)" aria-label="Copy" class="md-icon-button">
          <md-tooltip md-direction="left">Copy</md-tooltip>
          <md-icon>content_copy</md-icon>
        </md-button>
      </div>
    </div>
  </div>
</section>