<div>
	<md-input-container md-no-float style="width: 95%;margin-left: 1%;margin-bottom: 0px;" ng-if="inputZoom || (inputToSelect && root.bulkedit)">
        <input type="text" g-places-autocomplete ng-model="centerCoord" ng-change="changeMapcenter(centerCoord)" />
    </md-input-container>
    <ng-map default-style="false" id="{{fieldid}}" styles="{{styles}}">
        <custom-control id="go-home" position="TOP_RIGHT" index="1" on-click="fitMarkers()">
            <md-button class="md-primary md-raised">Show All Markers</md-button>
        </custom-control>
        <info-window id="myInfoWindow" template="{{templatepath}}"></info-window>
        <info-window id="detailInfoWindow" template="{{detailtemplatepath}}"></info-window>
    </ng-map>
</div>