<div layout="row">
	<div flex>
		<md-select ng-model="fieldValue"  ng-model-options="{trackBy: '$value.key'}" md-container-class="tp-field" placeholder="{{field.field_description}}" md-on-open="loadOptions()" md-on-close="cleanup()" md-selected-text="renderSelection()" multiple="true" ng-disabled="isPopup" flex>
		  <md-select-header class="search" ng-if="options.length > 5">
		    <md-input-container md-no-float class="fullwidth">
		      <input ng-model="searchTerm.text" type="search" placeholder="Search ..." ng-keydown="stopBubbling($event)" tp:auto-focus>
		      <md-icon ng-if="!disablecreate" class="md-primary addtipo pointer" ng-click="addTipo()">add</md-icon>
		    </md-input-container>
		  </md-select-header>
		  <md-option ng-value="option" ng-repeat="option in options | filter: {label: searchTerm.text}">{{ option.label }}</md-option>
		</md-select>
	</div>
	<div flex="none" class="actions" ng-if="isPopup">
		<md-button class="m0" ng-click="tipoObjecSelectiontDialog()">
			<md-icon>search</md-icon>
		</md-button>
	</div>
</div>