<md-dialog ng-cloak ng-class="{'fullscreen': fullscreen}">
  <md-toolbar class="tipo-toolbar">
    <div class="md-toolbar-tools">
      <h2>{{definition.tipo_meta.display_name}}</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="maximize()" ng-if="!fullscreen">
        <md-icon aria-label="Maximize">crop_square</md-icon>
      </md-button>
      <md-button class="md-icon-button" ng-click="restore()" ng-if="fullscreen">
        <md-icon aria-label="Restore size">filter_none</md-icon>
      </md-button>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon aria-label="Close dialog">close</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <div class="tp-list">
      <div class="fluid-row-container">
        <div layout="row" ng-repeat="tipo in definition" class="fluid-row" md-whiteframe="2">
          <div flex layout="row" layout-padding layout-wrap layout-align="start start" class="data pointer" ng-class="{'selected': tipo.selected}" ng-click="selectObject(tipo)">
            <tp:field-container field="field" ng-if="!field._ui.isGroup && !field.hidden && field._value" ng-repeat="field in tipo.value.tipo_fields"/>
          </div>
        </div>
      </div>
    </div>
  </md-dialog-content>
  <md-dialog-actions layout="row">
    <span flex></span>
    <md-button ng-click="cancel()">
     Cancel
    </md-button>
    <md-button md-theme="reverse" class="md-raised md-primary" ng-click="finish()">
     Save
    </md-button>
  </md-dialog-actions>
</md-dialog>