<md-dialog ng-cloak aria-label="Lookup" ng-class="{'fullscreen': fullscreen}">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Lookup - {{tipoDisplayName}}</h2>
      <span flex></span>
      <md-button class="dialog-buttons" ng-click="populateData()">
        <md-icon aria-label="Save">done</md-icon>
        <div>Done</div>
      </md-button>
      <md-button class="dialog-buttons" ng-click="cancel()">
        <md-icon aria-label="Close dialog">close</md-icon>
        <div>Cancel</div>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <div class="md-dialog-content tp-field tp-lookup-dialog" layout="center center" layout-padding>
      <tp:lookup realtedtipo="relatedTipo" labelfield="labelfield" ng-model="tipoId" fieldlabel="fieldlabel" fieldvalue="tipoId" basefilter="baseFilter" queryparams="queryparams" selectlabelfield="label_field" root="root" fqfieldname="fq_field_name"/>
    </div>
  </md-dialog-content>
</md-dialog>