<md-dialog ng-cloak ng-class="{'fullscreen': fullscreen}">
  <md-toolbar class="tipo-toolbar">
    <div class="md-toolbar-tools">
      <h2>{{tipoRootController.tiposWithDefinition.tipo_meta.display_name}}</h2>
      <span flex></span>
      <md-button class="dialog-buttons" ng-click="tipoRootController.maximize()" ng-if="!fullscreen">
        <md-icon aria-label="Maximize">flip_to_back</md-icon>
        <div>Resize</div>
      </md-button>
      <md-button class="dialog-buttons" ng-click="tipoRootController.restore()" ng-if="fullscreen">
        <md-icon aria-label="Restore size">flip_to_front</md-icon>
        <div>Resize</div>
      </md-button>
      <md-button tp:perm ng-if="!tipoRootController.disablecreate" class="dialog-buttons" ng-click="tipoRootController.addTipo()">
          <md-icon aria-label="New">add</md-icon>
          <div>New</div>
      </md-button>
      <md-button class="dialog-buttons" ng-click="tipoRootController.finish()">
          <md-icon aria-label="Save">done</md-icon>
          <div>Done</div>
      </md-button>
      <md-button class="dialog-buttons" ng-click="tipoRootController.cancel()">
        <md-icon aria-label="Close dialog">close</md-icon>
        <div>Cancel</div>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <md-input-container flex class="tp-list fullwidth" ng-if="tipoRootController.tipoDefinition.tipo_meta.allow_search || tipoRootController.tipoDefinition.tipo_list.allow_search">
      <label>&nbsp;</label>
      <input ng-model="tipoRootController.searchText" placeholder="enter search" data-ng-keyup="$event.keyCode == 13 ? tipoRootController.search() : null">
    </md-input-container>
    <div class="text-center loader-area" ng-show="showLoader">
      <md-progress-circular hide-xs class="md-primary" md-diameter="50" style="margin: 0 auto"></md-progress-circular>
    </div>
    <div ng-hide="showLoader">
      <ng-include src="tipoRootController.listUrl" />
    </div>
  </md-dialog-content>
</md-dialog>