<div layout="row" layout-wrap class="multiple-choice">
    <div ng-if="model.length >= 0" flex-xs="100" flex-sm="100" flex class="view-area" ng-repeat="option in model" ng-style="{'background' : colourCheck(option)}" style="min-width:280px">
        <div class="text-center" ng-if="iconCheck(option)">	
            <img class="img" ng-if="imgUrl" src="{{'g/' + iconCheck(option)}}" /> 
            <md-icon class="img" ng-if="!imgUrl" style="font-size: 40px;color:white">{{iconCheck(option)}}</md-icon>
        </div>
        <div class="text-center">{{option}}</div>
    </div>
    <div ng-if="model.length < 0">-N/A-</div>
</div>