<div layout="row" class="multiple-choice">
	<div flex>
	<div layout="row" layout-wrap ng-if="isarray">
		  <div flex-xs="100" flex-sm="100" flex ng-repeat="option in allowedvalues" style="min-width:280px">
			<md-checkbox ng-checked="exists(option.value, model.field)" ng-click="toggle(option.value, model.field)" class="md-primary select-box" name="fieldname" ng-disabled="readOnly" ng-style="(exists(option.value, model.field) && (option.colour === 'NA') && {'background': primaryColor, 'color': 'white'}) || (exists(option.value, model.field) && (option.colour !== 'NA') && {'background': option.colour, 'color': 'white'})">
					{{ option.value }} <md-icon ng-if="exists(option.value, model.field)" style="color:white; float:right; font-size: 18px;height: 15px;min-height: 15px;" >check_circle</md-icon>
			</md-checkbox>
			</div>
		</div>
		<md-radio-group ng-model="model.field" ng-if="!isarray" ng-change="updateValue(model.field)" layout="row" layout-wrap>
			<div lex-xs="100" flex-sm="100" flex ng-repeat="option in allowedvalues" style="min-width:280px">
				<md-radio-button ng-value="option.value" class="md-primary select-box" name="fieldname" ng-disabled="readOnly" ng-style="(model.field === option.value && (option.colour === 'NA') && {'background': primaryColor, 'color': 'white'}) || (model.field === option.value && (option.colour !== 'NA') && {'background': option.colour, 'color': 'white'})">{{ option.value }} <md-icon ng-if="model.field === option.value" style="color:white; float:right; font-size: 18px;height: 15px;min-height: 15px;" > check_circle</md-icon>
				</md-radio-button>
			</div>
		</md-radio-group>
	</div>
</div>
