<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">

                <!-- Panel including S3 object table -->
                <!--<div id="grid1" ui-grid="gridOptions" class="gridStyle"></div>-->
                <div>
                    <ul id="breadcrumb" layout="row" layout-align="center center">
                        <li ng-repeat="breadcrumb in breadcrumbs" ng-click="selectBreakcrumb(breadcrumb)">
                            <a>{{breadcrumb.name}}</a>
                        </li>
                    </ul>
                </div>
                
                <md-data-table-container class="gridStyle">
                    <table md-table md-row-select ng-model="selected" md-progress="promise">
                        <thead md-head md-order="query.order">
                        <tr md-row>
                            <th md-column md-order-by="object">Object</th>
                            <th md-column md-order-by="folder"><span>Folder</span></th>
                            <th md-column md-date>Last Modified</th>
                            <th md-column md-numeric>Size</th>
                        </tr>
                        </thead>
                        <tbody md-body>
                        <tr md-row md-auto-select ng-repeat="rowContent in rows" ng-click="selectObject(rowContent)">
                            <td md-cell>{{rowContent.Key}}</td>
                            <td md-cell></td>
                            <td md-cell>{{rowContent.LastModified}}</td>
                            <td md-cell>{{rowContent.Size}}</td>
                        </tr>
                        </tbody>
                    </table>
                </md-data-table-container
                
            </div>
        </div>
    </div>
</div>