<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">

                <!-- Panel including S3 object table -->
                <!--<div id="grid1" ui-grid="gridOptions" class="gridStyle"></div>-->
                <md-toolbar class="md-table-toolbar md-default">
                    <div class="md-toolbar-tools">
                        AWS S3 Explorer&nbsp;
                    </div>
                    <!-- Bucket selection -->
                    <!--<div class="btn pull-left" id="bucket">
                        <i id="bucket-chooser" style="cursor: pointer;" class="fa fa-bitbucket fa-2x" title="Switch to a different S3 Bucket"></i>
                    </div>-->
                    <!-- Bucket breadcrumbs -->
                    <div>
                        <ul id="breadcrumb" layout="row" layout-align="center center">
                            <li ng-repeat="state in $navigationState.currentState.path">>
                                <a href="#">&lt;bucket&gt;</a>
                            </li>
                        </ul>
                    </div>
                </md-toolbar>
                
                <md-data-table-container class="gridStyle">
                    <table md-table md-row-select ng-model="selected" md-progress="promise">
                        <thead md-head md-order="query.order">
                        <tr md-row>
                            <th md-column md-order-by="object">Object</th>
                            <th md-column md-order-by="folder"><span>Folder</span></th>
                            <th md-column md-date>Last Modified</th>
                            <th md-column md-numeric>Size</th>
                        </tr>
                        </thead>
                        <tbody md-body>
                        <tr md-row md-auto-select ng-repeat="rowContent in rows" ng-click="selectObject(rowContent)">
                            <td md-cell>{{rowContent.Key}}</td>
                            <td md-cell></td>
                            <td md-cell>{{rowContent.LastModified}}</td>
                            <td md-cell>{{rowContent.Size}}</td>
                        </tr>
                        </tbody>
                    </table>
                </md-data-table-container
                
            </div>
        </div>
    </div>
</div>