<div>
  <form ng-cloak>
    <section class="fieldset fluid-row-container">
      <div class="data" layout-padding layout="row" layout-wrap layout-align="start center">
        <dummy class="hidden" ng-repeat-start="field in definition.tipo_fields" />
          <tp:field-container field="field" ng-if="!field._ui.isGroup" />
          <section class="fieldset fluid-row-container" flex="100" ng-if="field._ui.isGroup">
            <div class="header">
              <div layout="row" layout-align="end center">
                <h3 flex>
                  <a href="" ng-click="field._ui.collapsed = !field._ui.collapsed">
                    <i class="fa" ng-class="{'fa-caret-down': !field._ui.collapsed , 'fa-caret-right': field._ui.collapsed}"></i>
                     {{field.display_name}}
                  </a>
                </h3>
                <div class="actions" layout="row" layout-align="center center">
                  <md-button flex="none" class="m0" ng-if="!field._ui.isArray" ng-click="showFieldDetail(field)" aria-label="View details">
                    <md-tooltip md-direction="top">View details</md-tooltip>
                    <md-icon>visibility</md-icon>
                  </md-button>
                </div>
              </div>
              <md-divider></md-divider>
            </div>
            <div class="data" layout-padding layout="row" layout-wrap layout-align="start center" ng-hide="field._ui.collapsed" ng-if="!field._ui.isArray">
              <tp:field-container field="groupField" ng-repeat="groupField in field.tipo_fields" />
            </div>
            <div class="data" style="margin-top: 10px;" ng-hide="field._ui.collapsed" ng-if="field._ui.isArray">
              <h3 class="md-subhead no-value" ng-if="!field._items.length">
                -No records available-
              </h3>
              <div layout="row" ng-repeat="groupItem in field._items" md-whiteframe="2" class="fluid-row">
                <div flex layout="row" layout-padding layout-wrap layout-align="start start" class="data">
                  <tp:field-container field="itemField" ng-repeat="itemField in groupItem.tipo_fields" ng-if="itemField.short_display" />
                </div>
                <div flex="none" layout="column" layout-align="center center" class="actions bg">
                  <md-button ng-click="showFieldDetail(groupItem)" aria-label="View details">
                    <md-tooltip md-direction="top">View details</md-tooltip>
                   <md-icon>visibility</md-icon>
                 </md-button>
                </div>
              </div>
            </div>
          </section>
        <dummy class="hidden" ng-repeat-end />
      </div>
    </section>
  </form>
</div>