<div class="p-8">
  <form ng-cloak>
    <section class="fieldset no-header fluid-row-container">
      <div class="data" layout-padding layout="row" layout-wrap layout-align="start start">
        <tp:field-container field="field" mode="{{mode}}" ng-repeat="field in definition.tipo_fields" ng-if="field._ui.isSimple && !field.hidden && (mode === 'edit' || field._value)" />
      </div>
    </section>
    <tp:group-container group="field" ng-repeat="field in definition.tipo_fields" ng-if="field._ui.isGroup"/>
  </form>
</div>