<md-dialog ng-cloak ng-class="{'fullscreen': fullscreen}">
  <md-toolbar class="tipo-toolbar">
    <div class="md-toolbar-tools">
      <h2>{{definition.display_name}}</h2>
      <span flex></span>
      <md-button class="dialog-buttons" ng-click="maximize()" ng-if="!fullscreen">
        <md-icon aria-label="Maximize">flip_to_back</md-icon>
        <div>Resize</div>
      </md-button>
      <md-button class="dialog-buttons" ng-click="restore()" ng-if="fullscreen">
        <md-icon aria-label="Restore size">flip_to_front</md-icon>
        <div>Resize</div>
      </md-button>
      <md-button class="dialog-buttons" ng-click="hide()">
        <md-icon aria-label="Close dialog">done</md-icon>
        <div>Done</div>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <div class="tp-detail dialog">
      <!-- <tp:view mode="{{mode}}" root="root" definition="definition"/> -->

    </div>
  </md-dialog-content>
</md-dialog>