<div id="layout" layout="column" layout-align="start center" layout-align-xs="start center">
    <ng-include src="controller.header_template" tp-include-replace/>
    <div>
        <div class="card-details" id="login-container" layout="column" layout-align="center stretch">
            <div md-whiteframe="2" style="background: #fbfbfb;margin-bottom:20px;">
                <div layout="row" layout-padding layout-align="center center" flex="none">
                    <span class="md-title">Enter Card Details</span>
                </div>
                <div>
                    <form name="registrationForm" data-ng-submit="controller.createToken()">
                        <md-content layout-padding layout="column" layout-align="center stretch">
                            <div class="md-subhead text-center" ng-init="controller.initCard()"></div>
                            <div id='card-element'></div>
                            <div class="hint" style="position: inherit;bottom: 10px;color: #403f3f;">Your free trial begins on <b>{{date | date:'MMMM dd, yyyy'}} </b> and will end on <b>{{expiryDate | date:'MMMM dd, yyyy'}}.</b> You can cancel anytime before or on {{expiryDate | date:'MMMM dd, yyyy'}} to avoid being charged and we’ll send an email reminder 3 days before the trial ends</div>
                            <div class="error with-margin" ng-show="controller.lastError"><i class="fa fa-exclamation-circle fa-fw"></i> {{controller.lastError}}</div>
                            <md-button type="submit" md-theme="reverse" class="md-raised md-primary" ng-if="!controller.inProgress"><b>Start 30 Day Free Trial</b></md-button>
                            <md-button disabled md-theme="reverse" class="md-raised md-primary" ng-show="controller.inProgress">
                                <i class="fa fa-refresh fa-spin fa-fw"></i> Processing...
                            </md-button>
                        </md-content>
                    </form>
                </div>
                <div flex="100" style="text-align: center;margin-top: -25px;">
                    <md-button class="md-primary" ng-click="controller.gotoSampleApps()" style="text-decoration: underline;font-weight: bold;">Skip to Browse Sample Apps</md-button>
                </div>
            </div>
        </div>
        <div class="text-center">
            <img src="_assets/images/card-certificate.jpg" class="cert-logo" /> 
        </div>
    </div>
</div>
