<md-card flex="initial" layout="column">
  <form flex layout="column" layout-wrap layout-padding layout-align="space-between start" class="md-inline-form" ng-cloak>
    
    <md-input-container class="md-block">
      <label>Username</label>
      <input ng-model="userDetails.username">
    </md-input-container>
    <md-input-container class="md-block" md-no-float>
      <label>Confirmation code</label>
      <input ng-model="userDetails.confirmationCode">
    </md-input-container>    
  </form>
   <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
    <div data-ng-init="userController.initConfirmation()">
      <md-button class="md-raised md-primary" ng-click="userController.confirmRegistration(userDetails)">Confirm</md-button>
    </div>
  </md-content>
</md-card>