<div id="layout" layout="row" layout-align="center center">
  <div id="view-container" md-whiteframe="6">
    <div ng-cloak layout-gt-sm="row" layout="column">
      <div flex-gt-sm="100" flex>
        <md-content flex layout-padding>
          <h3 align="center">Your registered email address</h3>
          <form name="forgotPassForm" data-ng-submit="userController.forgotPassword(email)">
            <md-input-container class="md-block">
              <label>Email</label>
              <input name="email" ng-model="email">
              <div ng-messages="forgotPassForm.email.$error" ng-if="lastError">
                <div ng-message="required">{{ lastError }}</div>
              </div>
            </md-input-container>
            <div layout="column" layout-align="center center">
              <div ng-if="!userController.forgotPassInProgress()" flex="100">
                <md-button type="submit" class="md-primary md-raised">
                  Send Reset Link
                </md-button>
              </div>
              <div ng-if="userController.forgotPassInProgress()">
                <md-button ng-disabled="true" class="md-raised md-primary" flex="100">
                  <i class="fa fa-refresh fa-spin"></i>
                  Resetting...
                </md-button>
              </div>
              <div><a href="#/login">Back to login</a></div>
            </div>
          </form>
        </md-content>
      </div>
    </div>
  </div>
</div>