<div id="layout" layout="row" layout-align="center center">
  <div id="view-container" md-whiteframe="6" class="card">
    <h2 align="center">Welcome to {{ displayName }}</h2>
    <h3 align="center">Login to get access to {{ displayName }}</h3>
    <div ng-cloak layout-gt-sm="row" layout="column">
      <div flex-gt-sm="100" flex>
        <md-content flex layout-padding>
          <md-tabs md-dynamic-height md-border-bottom md-center-tabs>
            <md-tab label="Existing user">
              <form name="loginForm" data-ng-init="userController.initLogin()" data-ng-submit="userController.login(username, password)">
                <md-input-container class="md-block">
                    <label>Email:</label>
                    <input ng-model="username" required>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Password:</label>
                    <input name="password" ng-model="password" type="password" required>
                    <div ng-messages="loginForm.password.$error" ng-if="lastError">
                      <div ng-message="required">{{ lastError }}</div>
                    </div>
                </md-input-container>

                <div ng-if="!userController.loginInProgress()">
                  <md-button type="submit" class="md-raised md-primary">
                    Login
                  </md-button>
                </div>
                <div ng-if="userController.loginInProgress()">
                  <md-button ng-disabled="true" class="md-raised md-primary">
                    <i class="fa fa-refresh fa-spin"></i>
                    Logging in...
                  </md-button>
                </div>
                <div><a href="/forgotpass">Forgot Password?</a></div>
              </form>
            </md-tab>
            <md-tab label="New User">
              <form name="newUserForm" data-ng-submit="userController.signUp(user)">
                <md-input-container class="md-block" md-no-float>
                  <label>Email</label>
                  <input ng-model="user.email" type="email" required>
                </md-input-container>
                <md-input-container class="md-block" md-no-float>
                  <label>Password</label>
                  <input name="password" ng-model="user.password" type="password" required>
                  <div ng-messages="loginForm.password.$error" ng-if="lastError">
                    <div ng-message="required">{{ lastError }}</div>
                  </div>
                </md-input-container>
                <!--<div vc-recaptcha ng-model="user.recaptcha" key="'6Ldaig8UAAAAABblj3oOjSlTco3HTUhArcn_nJAG'"></div>-->
                <div vc-recaptcha ng-model="user.recaptchaResponse" key="'${googleRecaptchaSitekey}'"></div>
                <div ng-if="!userController.registrationInProgress()">
                  <md-button type="submit" class="md-raised md-primary">
                    Register
                  </md-button>
                </div>
                <div ng-if="userController.registrationInProgress()">
                  <md-button ng-disabled="true" class="md-raised md-primary">
                    <i class="fa fa-refresh fa-spin"></i>
                    Registering...
                  </md-button>
                </div>
              </form>
            </md-tab>
          </md-tabs> 
        </md-content>
      </div>
      <!--<md-divider></md-divider>
      <div flex-gt-sm="30" flex>      
        <md-content flex layout-padding>
          <div>Login with</div>
          <div/>
          <google-sign-in-button button-id="g-signin2" options="options"></google-sign-in-button>
        </md-content>
      </div>-->
    </div>
  </div>
</div>