<div md-whiteframe="24">
  <form name="resetPasswordForm" data-ng-submit="controller.resetPassword()">
    <md-content layout-padding layout="column" layout-align="center stretch">
      <div class="md-subhead text-center">Set a new password for your account</div>
       <md-input-container class="md-icon-float md-block">
        <label>New Password</label>
        <md-icon>lock_open</md-icon>
        <input ng-model="controller.user.newPassword" type="password" required>
      </md-input-container>
      <div class="error" ng-show="controller.lastError"><i class="fa fa-exclamation-circle fa-fw"></i> {{controller.lastError}}</div>
      <md-button type="submit" md-theme="reverse" class="md-raised md-primary" ng-if="!controller.inProgress">Reset password</md-button>
      <md-button disabled md-theme="reverse" class="md-raised md-primary" ng-show="controller.inProgress">
        <i class="fa fa-refresh fa-spin fa-fw"></i> Processing...
      </md-button>
    </md-content>
  </form>
</div>