<div id="layout" layout="column" layout-align="start center" layout-align-xs="start center">
    <ng-include src="controller.header_template" tp-include-replace/>
    <div flex="10"></div>
    <div id="login-container" layout="column" layout-align="center stretch">
        <div md-whiteframe="2" style="background: #fbfbfb;">
            <div layout="row" layout-padding layout-align="center center" flex="none">
                <span class="md-title">Verify Email</span>
            </div>
            <div>
                <form name="verifyEmailForm" data-ng-submit="controller.onVerifyEmail()">
                    <md-content layout-padding layout="column" layout-align="center stretch">
                        <div class="md-subhead text-center"></div>
                        <label class="loginlabel">Enter Code</label>
                        <md-input-container class="md-icon-float md-block">
                            <md-icon>person</md-icon>
                            <input ng-model="controller.user.verificationcode" type="text" required>
                        </md-input-container>
                        <div class="error" ng-show="controller.lastError"><i class="fa fa-exclamation-circle fa-fw"></i> {{controller.lastError}}</div>
                        <md-button type="submit" md-theme="reverse" class="md-raised md-primary" ng-if="!controller.inProgress">Verify email</md-button>
                        <md-button disabled md-theme="reverse" class="md-raised md-primary" ng-show="controller.inProgress">
                            <i class="fa fa-refresh fa-spin fa-fw"></i> Processing...
                        </md-button>
                    </md-content>
                </form>
            </div>
        </div>
        <div layout="column" layout-align="center stretch" layout-padding ng-if="!controller.inProgress">
            <md-button type="button" class="md-raised md-primary" ng-click="controller.toLogin()">Back</md-button>
        </div>
    </div>
</div>