<md-card flex="initial" layout="row">
  <form flex layout="row" layout-wrap layout-padding layout-align="space-between start" class="md-inline-form" ng-cloak>
    <dummy style="display: none" ng-repeat-start="field in tipoRootController.tipoDefinition.tipo_fields" />
    <tp:input definition="tipoRootController.tipoDefinition" field="field" flex-xs="100" flex-sm="45" flex-gt-sm="30"/>
    <dummy style="display: none" ng-repeat-end />
    <!--<md-input-container class="md-block" flex-xs="100" flex-sm="45" flex-gt-sm="30">
      <label>Company</label>
      <input ng-model="user.company">
    </md-input-container>
    <md-datepicker ng-model="user.submissionDate" md-placeholder="Enter date" flex-xs="100" flex-sm="45" flex-gt-sm="30" />
    <md-input-container class="md-block" flex-xs="100" flex-sm="45" flex-gt-sm="30">
      <label>First name</label>
      <md-icon>person</md-icon>
      <input ng-model="user.firstName">
    </md-input-container>
    <md-input-container class="md-block" flex-xs="100" flex-sm="45" flex-gt-sm="30">
      <label>Last name</label>
      <input ng-model="theMax">
    </md-input-container>
    <md-input-container class="md-block" flex-xs="100" flex-sm="45" flex-gt-sm="30">
      <label>Address</label>
      <input ng-model="user.address">
    </md-input-container>
    <md-input-container class="md-block" flex-xs="100" flex-sm="45" flex-gt-sm="30">
      <input ng-model="user.address2" placeholder="Address 2">
    </md-input-container>
    <md-input-container class="md-block" flex-xs="100" flex-sm="45" flex-gt-sm="30">
      <label>City</label>
      <input ng-model="user.city">
    </md-input-container>
    <md-input-container class="md-block" flex-xs="100" flex-sm="45" flex-gt-sm="30">
      <label>State</label>
      <md-select ng-model="user.state">
        <md-option ng-repeat="state in states" value="{{state.abbrev}}">
          {{state.abbrev}}
        </md-option>
      </md-select>
    </md-input-container>
    <md-input-container class="md-block" flex-xs="100" flex-sm="45" flex-gt-sm="30">
      <label>Postal Code</label>
      <input name="postalCode" ng-model="user.postalCode" placeholder="12345"
             required ng-pattern="/^[0-9]{5}$/" md-maxlength="5">
      <div ng-messages="userForm.postalCode.$error" role="alert" multiple>
        <div ng-message="required" class="my-message">You must supply a postal code.</div>
        <div ng-message="pattern" class="my-message">That doesn't look like a valid postal
          code.
        </div>
        <div ng-message="md-maxlength" class="my-message">
          Don't use the long version silly...we don't need to be that specific...
        </div>
      </div>
    </md-input-container>
    <md-input-container class="md-block" flex-xs="100" flex-sm="45" flex-gt-sm="30">
      <label>Biography</label>
      <textarea ng-model="user.biography" md-maxlength="150" rows="5" md-select-on-focus></textarea>
    </md-input-container>-->
  </form>
</md-card>