<!--<div ng-controller="TipoGenericListController as tipoController">
  <pre>{{tipoController.tipoData | json}}</pre>
</div>
<div flex layout="row" layout-align="center center" ng-controller="TipoGenericListController as tipoController">
  <tp-no-content message="{{tipoController.tipos.length}} records found. Will render the data grid soon." />
</div>-->
<md-card ng-controller="TipoGenericListController as tipoController">
  <md-table-container>
    <table md-table ng-model="selected" md-progress="promise">
      <thead md-head>
        <tr md-row>
          <th md-column ng-repeat="field in tipoController.tipoFields">
            <span>{{field.display_name}}</span>
          </th>
        </tr>
      </thead>
      <tbody md-body>
        <tr md-row ng-repeat="row in tipoController.tipoData">
          <td md-cell ng-repeat="cell in row">{{cell.value || '-'}}</td>
        </tr>
      </tbody>
    </table>
  </md-table-container>
</md-card>