<div class="tp-list">
  <div class="fluid-row-container">
    <div layout="row" ng-repeat="tipo in tipoRootController.tiposWithDefinition" class="fluid-row" md-whiteframe="2">
      <div flex layout="row" layout-padding layout-wrap layout-align="start start" class="data">
        <tp:field-container field="field" ng-if="!field._ui.isGroup" ng-repeat="field in tipo.value.tipo_fields"/>
      </div>
      <div flex="none" layout="column" layout-align="center center" class="actions bg">
        <md-button ng-click="tipoRootController.toDetail(tipo.key)" aria-label="View details">
          <md-tooltip md-direction="top">View details</md-tooltip>
         <md-icon>visibility</md-icon>
       </md-button>
      </div>
    </div>
  </div>
</div>