<md-dialog ng-cloak>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>{{definition.display_name}}</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon aria-label="Close dialog">close</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <div class="tp-detail dialog">
      <tp:view mode="{{mode}}" definition="definition" />
    </div>
  </md-dialog-content>
  <md-dialog-actions layout="row">
    <span flex></span>
    <md-button ng-click="hide()" ng-if="!(mode === 'edit')">
     Close
    </md-button>
    <md-button md-theme="reverse" class="md-raised md-primary" ng-click="hide()" ng-if="mode === 'edit'">
     Done
    </md-button>
  </md-dialog-actions>
</md-dialog>