<md-card id="tp-detail">
  <form ng-cloak>
    <section class="fieldset fluid-row-container">
      <div class="data" layout-padding layout="row" layout-wrap layout-align="start start">
        <dummy class="hidden" ng-repeat-start="field in tipoRootController.tipoDefinition.tipo_fields" />
          <dl flex-xs="100" flex-gt-xs="100" flex-gt-sm="45" flex-gt-md="30" layout="row" ng-if="!field._ui.isGroup">
            <dt>{{field.display_name}}:</dt>
            <dd flex><tp:field-display definition="tipoRootController.tipoDefinition" field="field" /></dd>
          </dl>
          <section class="fieldset fluid-row-container" flex="100" ng-if="field._ui.isGroup">
            <div class="header">
              <h3><a href="" ng-click="field._ui.collapsed = !field._ui.collapsed"><i class="fa" ng-class="{'fa-caret-down': !field._ui.collapsed , 'fa-caret-right': field._ui.collapsed}"></i></a> {{field.display_name}}</h3>
              <md-divider></md-divider>
            </div>
            <div class="data" layout-padding layout="row" layout-wrap layout-align="start start" ng-hide="field._ui.collapsed" ng-if="!field._ui.isArray">
              <dl flex-xs="100" flex-gt-xs="100" flex-gt-sm="45" flex-gt-md="30" layout="row" ng-repeat="groupField in field.tipo_fields">
                <dt>{{groupField.display_name}}:</dt>
                <dd flex><tp:field-display definition="tipoRootController.tipoDefinition" field="groupField" /></dd>
              </dl>
            </div>
            <div class="data" style="margin-top: 10px;" ng-hide="field._ui.collapsed" ng-if="field._ui.isArray">
              <div md-whiteframe="2" class="fluid-row" >
                <div layout="row" layout-padding layout-wrap layout-align="start start" class="data">
                  <dl flex-xs="100" flex-gt-xs="100" flex-gt-sm="45" flex-gt-md="30" layout="row" ng-repeat="itemField in field.tipo_fields">
                    <dt>{{itemField.display_name}}:</dt>
                    <dd flex><tp:field-display definition="tipoRootController.tipoDefinition" field="itemField" /></dd>
                  </dl>
                </div>
              </div>
            </div>
          </section>
        <dummy class="hidden" ng-repeat-end />
        <section class="fieldset fluid-row-container" flex="100">
          <div class="header">
            <h3><i class="fa fa-caret-down"></i> JSON</h3>
            <md-divider></md-divider>
          </div>
          <div class="data" layout-padding layout="row" layout-wrap layout-align="start start">
            <pre>{{tipoRootController.tipoDefinition | json}}</pre>
          </div>
        </section>
      </div>
    </section>
  </form>
</md-card>